body {
  font-size: 14px;
}
.icons {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icons.png) no-repeat 0 0;
}
.icon_00 {
  background-position: 0 0;
}
.icon_01 {
  background-position: -20px 0;
}
.icon_02 {
  background-position: -40px 0;
}
.icon_03 {
  background-position: -60px 0;
}
.icon_04 {
  background-position: -80px 0;
}
.icon_05 {
  background-position: -100px 0;
}
.icon_06 {
  background-position: -120px 0;
}
.icon_07 {
  background-position: -140px 0;
}
.icon_08 {
  background-position: -160px 0;
}
.icon_09 {
  background-position: -180px 0;
}
.icon_10 {
  background-position: 0 -20px;
}
.icon_11 {
  background-position: -20px -20px;
}
.icon_12 {
  background-position: -40px -20px;
}
.icon_13 {
  background-position: -60px -20px;
}
.icon_20 {
  background-position: 0 -40px;
}
.icon_21 {
  background-position: -40px -40px;
}
.icon_22 {
  background-position: -80px -40px;
}
.icon_23 {
  background-position: -120px -40px;
}
.icon_24 {
  background-position: -160px -40px;
}
.icon_30 {
  background-position: 0 -80px;
}
.icon_31 {
  background-position: -20px -80px;
}
.icon_32 {
  background-position: -40px -80px;
}
.icon_33 {
  background-position: -60px -80px;
}
.icon_39 {
  background-position: -180px -80px;
}
.icon_60 {
  background-position: 0 -160px;
}
.icon_61 {
  background-position: -20px -160px;
}
.icon_62 {
  background-position: -40px -160px;
}
.icon_63 {
  background-position: -60px -160px;
}
.icon_64 {
  background-position: -80px -160px;
}
.icon_65 {
  background-position: -100px -160px;
}
.icon_613 {
  background-position: -260px -160px;
}
.icon_614 {
  background-position: -280px -160px;
}
.icon_70 {
  background-position: 0 -180px;
}
.icon_71 {
  background-position: -20px -180px;
}
.icon_72 {
  background-position: -40px -180px;
}
.icon_73 {
  background-position: -60px -180px;
}
.icon_74 {
  background-position: -80px -180px;
}
.icon_75 {
  background-position: -100px -180px;
}
.icon_76 {
  background-position: -120px -180px;
}
.icon_77 {
  background-position: -140px -180px;
}
.icon_78 {
  background-position: -160px -180px;
}
.icon_79 {
  background-position: -180px -180px;
}
.icon_710 {
  background-position: -200px -180px;
}
.icon_711 {
  background-position: -220px -180px;
}
.icon_712 {
  background-position: -240px -180px;
}
.icon_713 {
  background-position: -260px -180px;
}
.icon_714 {
  background-position: -280px -180px;
}
.selected .icon_00 {
  background-position: -80px -80px;
}
.selected .icon_01 {
  background-position: -100px -80px;
}
.selected .icon_02 {
  background-position: -120px -80px;
}
.selected .icon_07 {
  background-position: -140px -80px;
}
.selected .icon_39 {
  background-position: -160px -80px;
}
.selected .icon_60 {
  background-position: -100px -160px;
}
.selected .icon_61 {
  background-position: -120px -160px;
}
.selected .icon_62 {
  background-position: -140px -160px;
}
.selected .icon_63 {
  background-position: -160px -160px;
}
.selected .icon_64 {
  background-position: -180px -160px;
}
.selected .icon_65 {
  background-position: -200px -160px;
}
.NETWORK {
  background-position: -60px -100px;
}
.NETWORK.online {
  background-position: 0 -100px;
}
.BD {
  background-position: -80px -100px;
}
.BD.online {
  background-position: -20px -100px;
}
.GPS {
  background-position: -100px -100px;
}
.GPS.online {
  background-position: -40px -100px;
}
.checkbox {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  vertical-align: -3px;
}
.checkbox:hover {
  -webkit-box-shadow: 0 0 4px 2px #eee inset;
  box-shadow: 0 0 4px 2px #eee inset;
}
[type="checkbox"]:checked + .checkbox {
  -webkit-box-shadow: 0 0 4px 2px #eee inset;
  box-shadow: 0 0 4px 2px #eee inset;
}
[type="checkbox"]:checked + .checkbox::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -3px;
  border: 1px solid #8d8d8d;
  border-top-width: 0;
  border-right-width: 0;
  width: 6px;
  height: 4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.l-tree-nolines .l-line,
.l-tree-nolines .l-note,
.l-tree-nolines .l-note-last {
  background-position: 1000px 1000px ;
}
.l-dialog {
  overflow: hidden;
}
.l-dialog .l-dialog-table {
  width: -webkit-calc(100% + 2px);
  width: calc(100% + 2px);
  margin-left: -1px;
}
#mainNav {
  background: #323941;
  color: #fff;
  width: 6em;
}
#mainNav .logo_title {
  padding: 1em 0;
  font-family: "STXinwei";
  font-size: 16px;
}
#mainNav nav dd {
  padding: .8em 0 .6em;
}
#mainNav nav dd.selected {
  background: #2A2F35;
}
#mainNav nav dd .icons {
  width: 40px;
  height: 40px;
}
#mainNav .sysinfo {
  zoom: .85;
}
#mainNav .sysinfo dl {
  margin: .5em;
}
#mainNav .sysinfo dd {
  padding: 5px 0;
  line-height: 1.5;
}
#mainNav .sysinfo .icons {
  margin-right: 4px;
  vertical-align: -4px;
}
#secondMenu {
  min-height: 30px;
  padding: 0 2em;
  border-bottom: 1px solid #D5D7D6;
}
#secondMenu dd {
  position: relative;
  padding: 5px 7px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
#secondMenu dd.selected:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #3997D6;
}
#secondMenu dd + dd {
  margin-left: 1em;
}
#secondMenu .icons {
  vertical-align: -4px;
}
#openlayerContent {
  background: #AAC5EE;
}
.panel {
  position: absolute;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 0px 2px 0px #D9E1E7;
  box-shadow: 0 0px 2px 0px #D9E1E7;
  border-radius: 2px;
  background: #fff;
  width: 18em;
}
.panel .close {
  border: 0;
  cursor: pointer;
  background: transparent;
}
.panel .close .iconfont {
  font-weight: 600;
  font-size: 22px;
  color: #C5D7E1;
  line-height: 12px;
}
.panel .title {
  padding: 5px 0 5px 6px;
  line-height: 1.3;
  border-bottom: 1px solid #E5E4E9;
}
.panel .title .icons {
  margin-right: 3px;
  width: 18px;
  background-position: 0 0;
  zoom: .85;
}
#mainPanel {
  display: none;
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px);
  top: 15px;
  left: 20px;
}
#mainPanel .title label {
  margin-right: 4px;
}
#mainPanel .query {
  border-bottom: 1px solid #E5E4E9;
  padding: 10px 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#mainPanel .query .searchinput {
  border: 1px solid #eee;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px 1px #eee inset;
  box-shadow: 0 0 4px 1px #eee inset;
}
#mainPanel .query .searchinput input,
#mainPanel .query .searchinput button {
  border: 0;
  background: transparent;
}
#mainPanel .query .searchinput input {
  padding: 4px 5px;
  width: 100%;
  outline: none;
}
#mainPanel .query .searchinput button {
  background: #6DA1D5;
  padding: 0 6px;
  width: 3em;
  border-radius: 3px;
  margin-bottom: -1px;
}
#mainPanel .query .searchinput button .icons {
  vertical-align: middle;
}
#mainPanel .query .tabs span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 2.4;
  text-align: center;
}
#mainPanel .query .tabs span.selected:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 5em;
  height: 4px;
  background: #6CA1D3;
  margin-left: -2.5em;
}
#mainPanel .treeContext {
  padding: 15px 0px;
}
#mainPanel .treeContext .l-tree li .l-body .icons {
  vertical-align: -6px;
  margin-right: 4px;
  margin-left: -24px;
  pointer-events: none;
}
#mainPanel .treeContext .l-tree li .l-body label {
  pointer-events: none;
  display: block;
  padding-left: 24px;
}
#mainPanel .treeContext .l-tree li .l-body.l-selected {
  min-height: 22px;
  height: auto;
  background: #F4F4F4;
}
#mainPanel .treeContext .l-tree li .l-body.l-selected span {
  min-height: 20px;
  height: auto;
  border: 0;
  background: transparent;
}
#mainPanel .resultContext dd {
  padding: 10px 20px 10px 3em;
  border-bottom: 1px solid #E6E5EA;
  line-height: 1.8;
  cursor: pointer;
}
#mainPanel .resultContext dd h3 {
  font-size: 15px;
  font-weight: 600;
}
#mainPanel .resultContext dd .icons {
  margin-left: -24px;
  margin-right: 4px;
  vertical-align: -4px;
}
#mainPanel .resultContext dd.selected {
  background-color: #F6F6F6;
}
#mainPanel .querywhere .backouter {
  padding: 6px;
  border-top: 1px solid #eee;
}
#mainPanel .querywhere .backouter .back {
  border: 0;
  background: transparent;
  color: #666;
  cursor: pointer;
}
#mainPanel .querywhere .query {
  padding: 1em 0;
  margin: 0 12px;
}
#mainPanel .querywhere .label {
  width: 3.5em;
  text-align: right;
  padding-right: 5px;
}
#mainPanel .querywhere .group {
  padding: 10px 0;
  line-height: 28px;
}
#mainPanel .querywhere .group .input select,
#mainPanel .querywhere .group .input .l-text,
#mainPanel .querywhere .group .input input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eee;
  height: 28px;
  width: 100%;
}
#mainPanel .querywhere .group .input .l-trigger,
#mainPanel .querywhere .group .input .l-trigger-hover,
#mainPanel .querywhere .group .input .l-trigger-pressed {
  margin-right: 4px;
}
#mainPanel .querywhere .group button {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  padding: 5px 1em;
}
#mainPanel .querywhere .group button.submit {
  border-color: #3997D6;
  background: #3997D6;
  color: #fff;
  margin-right: 1em;
}
#openlayerBtns {
  right: 70px;
  top: 20px;
}
#openlayerBtns .block {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 0px 2px 0px #D9E1E7;
  box-shadow: 0 0px 2px 0px #D9E1E7;
  border-radius: 2px;
  background: #fff;
}
#openlayerBtns .single + .single {
  margin-left: 5px;
  width: 24em;
}
#openlayerBtns .item {
  position: relative;
  border: 0;
  padding: 6px;
  line-height: 1;
  background: transparent;
  outline: none;
}
#openlayerBtns .item .icons {
  vertical-align: -5px;
}
#openlayerBtns .item + .item {
  border-left: 1px solid #e5e5e5;
}
#openlayerBtns .item.selected {
  color: #3997D6;
}
#openlayerBtns .tabs_panel {
  border-top: 1px solid #e5e5e5;
}
#openlayerBtns .gpsDiv {
  padding: 1em 1em 0;
}
#openlayerBtns .gpsDiv .columns3 .input {
  width: 30%;
}
#openlayerBtns .gpsDiv .columns3 .input + .input {
  margin-left: 5%;
}
#openlayerBtns .gpsDiv dt {
  height: 30px;
}
#openlayerBtns .gpsDiv dd {
  margin-top: 10px;
  height: 30px;
}
#openlayerBtns .gpsDiv .input {
  position: relative;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #fff;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#openlayerBtns .gpsDiv .input.selected,
#openlayerBtns .gpsDiv .input:focus {
  border-color: #3997D6;
}
#openlayerBtns .gpsDiv .input input {
  border: 0;
  height: 100%;
  background: transparent;
  width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}
#openlayerBtns .gpsDiv .input.hasClear input {
  padding-right: 20px;
}
#openlayerBtns .gpsDiv .input.hasClear .iconfont {
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#openlayerBtns .gpsDiv .input.hasafter1 {
  padding-left: 1em;
}
#openlayerBtns .gpsDiv .input.hasafter3 {
  padding-left: 3em;
}
#openlayerBtns .gpsDiv .input .after {
  top: 50%;
  text-indent: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#openlayerBtns .gpsDiv .input .dw {
  top: 0;
  right: 0;
  -webkit-transform: translate(172%, 5%);
  -ms-transform: translate(172%, 5%);
  transform: translate(172%, 5%);
}
#openlayerBtns .gpsDiv .btn {
  padding: 10px 0;
}
#openlayerBtns .gpsDiv .btn button {
  background: #3997D6;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 6px 2em;
}
#openlayerBtns .layersDiv .modals {
  display: inline-block;
  width: 104px;
  height: 64px;
  background: url(../img/modal.png) no-repeat 0 0;
}
#openlayerBtns .layersDiv .modal_00 {
  background-position: 0 0;
}
#openlayerBtns .layersDiv .modal_01 {
  background-position: -104px 0;
}
#openlayerBtns .layersDiv .selected {
  color: #3997D6;
}
#openlayerBtns .layersDiv .selected .modal_00 {
  background-position: -208px 0;
}
#openlayerBtns .layersDiv .selected .modal_01 {
  background-position: -312px 0;
}
#openlayerBtns .layersDiv .modal_item {
  margin-right: 10px;
  width: 104px;
  text-align: center;
}
#openlayerBtns .layersDiv dl {
  margin: 0 1em;
}
#openlayerBtns .layersDiv dt {
  border-bottom: 1px solid #eee;
  line-height: 30px;
}
#openlayerBtns .layersDiv dd {
  margin: 10px 0;
}
#openlayerBtns .layersDiv .layermanger label {
  position: relative;
  width: 36%;
  font-size: 12px;
}
#openlayerBtns .layersDiv .layermanger label .vcenter {
  vertical-align: -6px;
}
#openlayerBtns .layersDiv .layermanger label:nth-child(3n+2) {
  width: 30%;
}
#openlayerBtns .layersDiv .layermanger label:nth-child(3n+3) {
  width: 34%;
}
#openlayerBtns .toolDiv {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  border: 1px solid #e5e5e5;
}
#openlayerBtns .toolDiv dd {
  line-height: 2;
  color: #666;
}
#openlayerBtns .toolDiv dd.selected {
  background-color: #f1f1f1;
}
#assistPanel {
  display: none;
  height: -webkit-calc(100vh - 260px);
  height: calc(100vh - 260px);
  top: 70px;
  right: 70px;
}
#assistPanel .title {
  color: #588AA1;
  padding-left: .6em;
}
#assistPanel .maininfo {
  font-size: 13px;
}
#assistPanel .maininfo dl {
  margin: 0 1.5em;
  padding-bottom: 1em;
}
#assistPanel .maininfo dt {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  line-height: 1.6;
  padding-top: .5em;
  margin-bottom: .5em;
}
#assistPanel .maininfo dd {
  line-height: 1.7;
  padding-left: .5em;
}
#assistPanel .maininfo dd .icons {
  margin-right: 5px;
  zoom: .85;
  width: 18px;
  vertical-align: -4px;
}
#assistPanel .detail {
  height: 6em;
  background: #3997D7;
  color: #fff;
  margin: 0 -1px;
}
#assistPanel .detail p {
  line-height: 1.6;
}
#assistPanel .detail .icons {
  cursor: pointer;
}
#assistPanel .detail .distrible {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-left: 1.5em;
}
#assistPanel .detail .btnarea {
  width: 40%;
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
#assistPanel .detail .btnarea button {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  background: transparent;
  padding: 2px 1.5em;
  margin: .5em auto;
}
#assistPanel .tabs {
  border-bottom: 1px solid #ddd;
}
#assistPanel .tabs span {
  display: inline-block;
  cursor: pointer;
  width: 25%;
  font-size: 13px;
  text-align: center;
  padding: 6px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#assistPanel .tabs span + span {
  border-left: 1px solid #ddd;
}
#assistPanel .tabs span.selected {
  color: #3997D6;
}
#assistPanel .tabs .icons {
  zoom: .85;
  vertical-align: -4px;
}
#assistPanel .tabdetail .tab_panel {
  margin-left: 10px;
}
#assistPanel .tabdetail .tab_panel_title {
  border-bottom: 1px solid #E0E0E0;
  line-height: 2;
  padding-top: .5em;
  margin-bottom: .5em;
}
#assistPanel .tabdetail .tab_panel_title .circle {
  border-radius: 999px;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  color: #fff;
  margin: 0 4px;
  text-align: center;
  background: #3997D6;
}
#assistPanel .tabdetail .tab_panel_title .circle.green {
  background: #1A9F80;
}
#assistPanel .tabdetail .tab_panel_title .circle.orange {
  background: #F7A112;
}
#assistPanel .tabdetail .tab_panel_title .circle.red {
  background: #E44C3F;
}
#assistPanel .tabdetail .tab_panel_title .circle.blue {
  background: #3997D6;
}
#assistPanel .tabdetail .list_item {
  position: relative;
  padding: .6em 0;
  margin-left: -webkit-calc(1.5em + 8px);
  margin-left: calc(1.5em + 8px);
}
#assistPanel .tabdetail .list_item .strong {
  color: #555;
}
#assistPanel .tabdetail .list_item + .list_item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-calc(100% + 1.5em + 8px);
  width: calc(100% + 1.5em + 8px);
  left: -webkit-calc(0px - 1.5em - 8px);
  left: calc(0px - 1.5em - 8px);
  height: 1px;
  background-color: #eee;
}
#assistPanel .tabdetail .list_item .audio {
  margin-left: -webkit-calc(0px - 1.5em - 4px);
  margin-left: calc(0px - 1.5em - 4px);
  width: -webkit-calc(100% + 1.5em);
  width: calc(100% + 1.5em);
}
#assistPanel .tabdetail .list_item .icons {
  position: absolute;
  left: -24px;
}
#assistPanel .tabdetail ul.num li {
  list-style: decimal outside;
}
#assistPanel .tabdetail .list_item_padding {
  position: relative;
  padding-left: -webkit-calc(1.5em + 8px);
  padding-left: calc(1.5em + 8px);
  padding-right: 10px;
  line-height: 1.6;
}
#assistPanel .tabdetail .list_item_padding .icons {
  position: absolute;
  left: 4px;
}
#assistPanel .tabdetail .list_item_padding .table {
  margin-left: -webkit-calc(0px - 1.5em - 4px);
  margin-left: calc(0px - 1.5em - 4px);
  width: -webkit-calc(100% + 1.5em);
  width: calc(100% + 1.5em);
}
#assistPanel .tabdetail .list_item_padding .table th {
  background: #F7F7F7;
  border: 1px solid #E2E2E2;
  padding: 4px 1em;
  width: 45%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#assistPanel .tabdetail .list_item_padding .table td {
  border: 1px solid #E2E2E2;
  padding: 4px 1em;
}
#assistPanel .tabdetail .list_item_padding .table label {
  display: block;
  white-space: nowrap;
}
#assistPanel .tabdetail .backouter {
  padding: 6px;
  border-top: 1px solid #eee;
}
#assistPanel .tabdetail .backouter .back {
  border: 0;
  background: transparent;
  color: #666;
  cursor: pointer;
}
.datetimes .thead {
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #eee;
}
.datetimes .thead button {
  border: 0;
  background: transparent;
  padding: 0 1em;
}
.datetimes .thead .currdate {
  padding: 0 1em;
}
.datetimes .columns7 {
  margin: 0 1em;
  line-height: 24px;
}
.datetimes .columns7 .colum {
  position: relative;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 5px 3px;
  width: -webkit-calc(14.28% - 6px);
  width: calc(14.28% - 6px);
  border-radius: 3px;
}
.datetimes .header {
  color: #3997D6;
}
.datetimes .tbody .colum {
  color: #333;
  border: 1px solid #efefef;
}
