<div id="vue-panel-info" class="flex column h100">
    <div class="title bbox flex acenter">
        <span class="flex_1">{{ nav_selected_2.name }}</span>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="detail bbox flex acenter jcenter">
        <div class="distrible flex_1" v-if="info.kid == 'forester'">
            <p>{{ info.name }}</p>
            <p>{{ info.tel }}</p>
            <p>{{ info.address || '' }}</p>
        </div>
        <div class="distrible flex_1" v-else>
            <template v-if="info.kid == 'road'">
                <p class="flex">
                    <span class="flex_1">{{info.date.split(' ')[0]}}</span>
                    <span>{{info.time}}</span>
                </p>
                <p class="flex">
                    <span class="flex_1">{{info.hour}}小时</span>
                    <span>{{info.km}}公里</span>
                </p>
            </template>
            <template v-else-if="info.kid == 'area'">
                <p>{{info.areaname}}<span v-if="info.areacode">（{{info.areacode}}）</span></p>
                <p>{{info.area}}亩</p>
            </template>
            <template v-else-if="info.kid == 'c119'">
                <p>{{info.alarmname}}</p>
                <p>{{info.date}}</p>
            </template>
            <template v-else-if="info.kid == 'hot'">
                <p>{{info.hotname}}<span v-if="info.hotsource">（{{info.hotsource}}）</span></p>
                <p>{{info.date}}</p>
            </template>
            <p class="whitespace">{{ info.userName || '　' }}<span v-if="info.tel">({{ info.tel }})</span></p>
        </div>

        <div class="btnarea" :class="info.kid == 'forester' ? 'aselfcenter' : 'aselfend'">
            <p :style="info.kid != 'forester' ? 'margin-bottom: 4px' : ''">
                <i class="icons icon_31" @click="showMessage(info.id,info.userId)"></i>
                <i class="icons icon_32" @click="showSH(info.name,info.userName,info.tel)"></i>
                <i class="icons icon_33" @click="showGST(info.name,info.userName,info.tel)"></i>
            </p>
            <p v-if="info.kid == 'forester'">
                <button class="cursor" @click="trackHLY">跟踪</button>
            </p>
        </div>
    </div>
    <div class="tabs flex acenter">
        <span class="flex_1" v-for="(item,index) in menus" :key="index" @click="selectNav(index)" :class="{'selected': index==selected}">
            <i class="icons" :class="item.clsName"></i>{{item.name}}
        </span>
    </div>
    <div class="tabdetail flex_1 scroll">
        <div id="panelnavdetail" class="h100 scroll"></div>
    </div>
</div>

<script>
    (function(){
        var _options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
        var _menus = SECONDMENUS.filter(function(i){
            return i.id == _options.pageId;
        })[0];
        if(!_menus) return $('#vue-panel-info').load('views/500.html');
        new Vue({
            el: '#vue-panel-info',
            data: {
                info: {
                    id:'',
                    name: '',
                    tel: '',
                    address: '',
                    kid: ''
                },
                selected: -1,
                menus: _menus.panelMenus || [],
                nav_selected_2: _menus,
                options: _options,
                cacheds: [false, false, false, false, false]
            },
            created: function () {
                var info = JSON.parse(sessionStorage.getItem('_panel_info_') || '{}');
                this.selected = 0;
                if(info.UserInfo) {
                    this.info.kid = 'forester';
                    this.info.id = info.UserInfo.ID;
                    this.info.name = info.UserInfo.USER_NAME;
                    this.info.tel = info.UserInfo.PHONE_NUM;
                    this.info.address = info.UserInfo.SNAME + info.UserInfo.XNAME;
                } else if(info.LineInfo) {
                    this.info = info.LineInfo;
                } else if(info.AreaInfo) {
                    this.info = info.AreaInfo;
                } else if(info.C119Info) {
                    this.info = info.C119Info;
                } else if(info.HotInfo) {
                    this.info = info.HotInfo;
                }
            },
            mounted: function () {
                var self = this;
                var nav_selected_2 = sessionStorage.getItem('_2_nav_selected_');
                var old_idx = sessionStorage.getItem('_panel_nav_selected_');
                var strong_idx = sessionStorage.getItem('_panel_nav_selected_strong_');
                this.selectNav(0);
                if (strong_idx) {
                    sessionStorage.removeItem('_panel_nav_selected_strong_');
                    self.selectNav(strong_idx);
                } else if(old_idx && this.info.kid == nav_selected_2) {
                    self.selectNav(old_idx);
                }
            },
            methods: {
                selectNav: function(val){
                    this.selected = val;
                    var item = this.menus[val], targetId;
                    sessionStorage.setItem('_panel_nav_selected_', val);
                    targetId = 'infoPanel_item_' + item.id;
                    if (!this.cacheds[val]) {
                        this.cacheds[val] = true;
                        $('#panelnavdetail').append($('<div id="'+ targetId +'" class="h100 w100 hidden"></div>').load(item.link));
                    }
                    $('#' + targetId).show().siblings().hide();
                },
                trackHLY: function(){
                    GIS$.trackOnHly(this.options.userId);
                },
                showGST: function (name1, name2, tel) {
                    var id = tel.slice(7);
                    var name = name1 != undefined ? name1 : name2;
                    $.ligerDialog.open({
                        height: 500,
                        width: 750,
                        title: '即时通',
                        url: 'http://120.197.61.115:808/YTX_Web_IM_Demo/index.html?id=' + id + '&aim=护林员(' + name + ':' + tel + ')',
                        isResize: true,
                        data: {
                            name: +new Date()
                        },
                        //自定义参数
                        myDataName: '$("#txtValue").val()'
                    });
                },
                showSH: function (name1, name2, tel) {
                    var name = name1 != undefined ? name1 : name2;
                    $.ligerDialog.open({
                        height: 260,
                        width: 670,
                        title: '市话呼叫',
                        url: 'http://120.197.61.115:808/DCN/index.html?护林员' + name + '(' + tel + ')',
                        isResize: true,
                        data: {
                            name: +new Date()
                        },
                        //自定义参数
                        myDataName: '$("#txtValue").val()'
                    });
                },
                showMessage: function (id1, id2) {
                    var id = id1 == undefined ? id2 : id1;
                    $.ligerDialog.open({
                        height: 350,
                        width: 500,
                        title: '发消息',
                        url: 'views/dialogs/blank.html',
                        isResize: true,
                        data: {
                            name: +new Date()
                        },
                        //自定义参数
                        userId: id
                    });
                }
            }
        })
    })();
</script>