<div id="vue-panel-info" class="flex column h100">
    <div class="title bbox flex acenter">
        <span class="flex_1">{{ nav_selected_2.name }}</span>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="detail bbox flex acenter jcenter">
        <div class="distrible flex_1" v-if="info.name">
            <p>{{ info.name }}</p>
            <p>{{ info.tel }}</p>
            <p>{{ info.address || '' }}</p>
        </div>
        <div class="distrible flex_1" v-else>
            <p class="flex">
                <span class="flex_1">{{info.date.split(' ')[0]}}</span>
                <span>{{info.time}}</span>
            </p>
            <p class="flex">
                <span class="flex_1">{{info.hour}}小时</span>
                <span>{{info.km}}公里</span>
            </p>
            <p class="whitespace">{{ info.userName }}({{ info.tel }})</p>
        </div>
        <div class="btnarea" :class="info.name ? 'aselfcenter' : 'aselfend'">
            <p>
                <i class="icons icon_31" @click="showDialog"></i>
                <i class="icons icon_32" @click="showDialog"></i>
                <i class="icons icon_33" @click="showDialog"></i>
            </p>
            <p v-if="info.UserInfo">
                <button>跟踪</button>
            </p>
        </div>
    </div>
    <div class="tabs flex acenter">
        <span v-for="(item,index) in menus" :key="index" @click="selectNav(index)" :class="{'selected': index==selected}">
            <i class="icons" :class="item.clsName"></i>{{item.name}}
        </span>
    </div>
    <div class="tabdetail flex_1 scroll">
        <div id="panelnavdetail" class="h100 scroll"></div>
    </div>
</div>

<script>
    (function(){
        var _options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
        var _menus = SECONDMENUS.filter(function(i){
            return i.id == _options.pageId;
        })[0];
        if(!_menus) return $('#vue-panel-info').load('views/500.html');
        new Vue({
            el: '#vue-panel-info',
            data: {
                info: {
                    name: '',
                    tel: '',
                    address: '',
                    date: '',
                    time: '',
                    hour: '',
                    km: ''
                },
                selected: -1,
                menus: _menus.panelMenus || [],
                nav_selected_2: _menus,
                options: _options
            },
            created: function () {
                var info = JSON.parse(sessionStorage.getItem('_panel_info_') || '{}');
                this.selected = sessionStorage.getItem('_panel_nav_selected_') || 0;
                if(info.UserInfo) {
                    this.info.name = info.UserInfo.USER_NAME;
                    this.info.tel = info.UserInfo.PHONE_NUM;
                    this.info.address = info.UserInfo.SNAME + info.UserInfo.XNAME;
                } else if(info.LineInfo) {
                    this.info = info.LineInfo;
                }

            },
            watch: {
                selected: function (val) {
                    sessionStorage.setItem('_panel_nav_selected_', val);
                    $('#panelnavdetail').load(this.menus[val].link);
                }
            },
            methods: {
                selectNav: function(idx){
                    this.selected = idx;
                },
                showDialog: function () {
                    $.ligerDialog.open({
                        height: 600,
                        width: 800,
                        title : '打开窗口提示',
                        url: 'views/dialogs/blank.html', 
                        isResize: true,
                        data: {
                            name: +new Date()
                        },
                        //自定义参数
                        myDataName: '$("#txtValue").val()'
                    });
                }
            }
        })
    })();
</script>