<div id="vue-panel-info" class="flex column h100">
    <div class="title bbox flex acenter">
        <span class="flex_1">护林员</span>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="detail bbox flex acenter jcenter">
        <div class="distrible flex_1">
            <p>{{ info.UserInfo.USER_NAME }}</p>
            <p>{{ info.UserInfo.PHONE_NUM }}</p>
            <p>{{ info.UserInfo.SNAME }}{{ info.UserInfo.XNAME }}</p>
        </div>
        <div class="btnarea">
            <p>
                <i class="icons icon_31" @click="showDialog"></i>
                <i class="icons icon_32" @click="showDialog"></i>
                <i class="icons icon_33" @click="showDialog"></i>
            </p>
            <p>
                <button>跟踪</button>
            </p>
        </div>
    </div>
    <div class="tabs flex acenter">
        <span v-for="(item,index) in menus" :key="index" @click="selectNav(index)" :class="{'selected': index==selected}">
            <i class="icons" :class="item.clsName"></i>{{item.name}}
        </span>
    </div>
    <div class="tabdetail flex_1 scroll">
        <div id="panelnavdetail" class="h100 scroll"></div>
    </div>
</div>

<script>
    (function(){
        new Vue({
            el: '#vue-panel-info',
            data: {
                info: {},
                selected: -1,
                menus: SECONDMENUS[sessionStorage.getItem('_2_nav_selected_') || 0].panelMenus || []
            },
            created: function () {
                this.info = JSON.parse(sessionStorage.getItem('_panel_info_') || '{}');
                this.selected = sessionStorage.getItem('_panel_nav_selected_') || 0;
            },
            watch: {
                selected: function (val) {
                    sessionStorage.setItem('_panel_nav_selected_', val);
                    $('#panelnavdetail').load(this.menus[val].link);
                }
            },
            methods: {
                selectNav: function(idx){
                    this.selected = idx;
                },
                showDialog: function () {
                    $.ligerDialog.open({
                        height: 600,
                        width: 800,
                        title : '打开窗口提示',
                        url: 'views/dialogs/blank.html', 
                        isResize: true,
                        data: {
                            name: +new Date()
                        },
                        //自定义参数
                        myDataName: '$("#txtValue").val()'
                    });
                }
            }
        })
    })();
</script>