<div class="flex column h100">
    <div class="title bbox flex acenter">
        <span class="flex_1">广东省信息汇总</span>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="maininfo flex_1 h100 scroll">
        <dl>
            <dt>实时信息</dt>
            <dd><i class="icons icon_10"></i>在线护林员（300个）</dd>
            <dd><i class="icons icon_11"></i>24小时热点（3个）</dd>
            <dd><i class="icons icon_12"></i>反馈信息（2个）</dd>
            <dd><i class="icons icon_13"></i>报警信息（1个）</dd>
        </dl>
        <dl>
            <dt>当月汇总信息</dt>
            <dd>护林员总数：1129人</dd>
            <dd>专职护林员：789人</dd>
            <dd>兼职护林员：234人</dd>
            <dd>巡护区面积：7736亩</dd>
            <dd>巡护区个数：34块</dd>
            <dd>人均面积：12亩/人</dd>
            <dd>报警反馈：10起</dd>
            <dd>其中火情火灾：0起</dd>
            <dd>热点数：3起</dd>
            <dd>出勤率：广东省（95.21%）</dd>
            <dd>出勤率最高：清远市（79.21%）</dd>
            <dd>出勤率最低：省保护区（0%）</dd>
        </dl>
    </div>
</div>

<script>
    (function(){
        $(document).ready(function(){
            
        });
    })();
</script>