<div id="assist_tab_area" class="h100 scroll">
        <dl v-if="!areaId" class="tab_panel">
            <dt class="tab_panel_title">
                <label class="circle orange">负</label>责巡护区
            </dt>
            <dd class="tab_panel_detail" v-for="(item,index) in lists" :key="index" @click="selectItem(item)">
                <p class="strong">{{item.AreaOrgan}}（{{item.AreaName}}）</p>
                <p>{{item.Area}}亩&emsp;{{item.AreaOrgan}}</p>
            </dd>
        </dl>
        <div v-else class="flex column h100">
            <div class="flex_1 scroll">
                <dl class="tab_panel">
                    <dt class="tab_panel_title">
                        <label class="circle blue">基</label>本信息
                    </dt>
                    <dd class="tab_panel_detail">
                        <p>巡护区：{{DetailInfo.PatrolAreaInfo.AREANAME}}</p>
                        <p>面积：{{DetailInfo.PatrolAreaInfo.AREA}}亩</p>
                        <p>公益林：{{DetailInfo.PatrolAreaInfo.STL}}亩</p>
                        <p>用材林：{{DetailInfo.PatrolAreaInfo.YCL}}亩</p>
                        <p>树种组成：{{DetailInfo.PatrolAreaInfo.YSSZ}}</p>
                        <p>备注：{{DetailInfo.PatrolAreaInfo.REMARK}}</p>
                    </dd>
                </dl>
                <dl class="tab_panel">
                    <dt class="tab_panel_title">
                        <label class="circle orange">关</label>键点
                    </dt>
                    <dd class="tab_panel_detail" v-for="(item,index) in DetailInfo.PatrolPoints" :key="index">
                        <p><span class="strong">{{item.AreaOrgan}}</span>{{item.AreaName}}</p>
                        <p>E{{item.LONGITUDE}}&emsp;N{{item.LATITUDE}}</p>
                    </dd>
                </dl>
            </div>
            <div v-if="options.userId" class="backouter">
                <button class="back" @click.prevent="backList"><i class="iconfont icon-back"></i> 返回</button>
            </div>
        </div>
    </div>
    <script>
        (function(){
            new Vue({
                el: '#assist_tab_area',
                data: {
                    lists: [],
                    options: {},
                    areaId: '',
                    DetailInfo: {
                        BaseInfo: {},
                        PatrolAreaInfo: {},
                        PatrolAreaUsers: {},
                        PatrolPoints: []
                    }
                },
                watch: {
                    areaId: function(v){
                        v && this.getInfo();
                    }
                },
                created: function () {
                    this.options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
                    if (this.options.userId) {
                        this.getList();
                    } else if (this.options.areaId) {
                        this.areaId = this.options.areaId;
                    } else {
                        console.log('缺少必要的userId！');
                    }
                },
                methods: {
                    getList: function () {
                        var self = this;
                        $.get(QueryPatrolarea_Ctrl + 'GetPatrolAreaByUserId', {
                            userId: self.options.userId
                        }).done(function (d) {
                            self.lists = d || [];
                        });
                    },
                    getInfo: function(){
                        var self = this;
                        $.get(ManagePatrol_Ctrl + 'GetPatrolAreaForEdit', {
                            patrolAreaId: self.areaId
                        }).done(function (d) {
                            self.DetailInfo.PatrolAreaInfo = d.PatrolAreaInfo;
                            self.DetailInfo.PatrolAreaUsers = d.PatrolAreaUsers;
                            self.DetailInfo.PatrolPoints = d.PatrolPoints;
                        });
                    },
                    selectItem: function(item){
                        this.areaId = item.ID;
                        this.DetailInfo.BaseInfo = item;
                    },
                    backList: function(){
                        this.areaId = '';
                        this.DetailInfo = {
                            BaseInfo: {},
                            PatrolAreaInfo: {},
                            PatrolAreaUsers: {},
                            PatrolPoints: []
                        };
                    }
                }
            })
        })();
    </script>
    <style>
        #assist_tab_area dd{padding: .6em 0; border-bottom: 1px solid #eee;}
        #assist_tab_area dd p.strong{color: #555;}
    </style>