<div id="assist_tab_c119" class="relative">
    <dl class="tab_panel">
        <dt class="tab_panel_title">
            <label class="circle blue">定</label>位信息
        </dt>
        <dd class="list_item_padding">
            {{info.organ}}
        </dd>
        <dd class="list_item_padding">
            E{{info.lon}}&emsp; N{{info.lat}}
        </dd>
    </dl>
    <dl class="tab_panel">
        <dt class="tab_panel_title">
            <label class="circle red">内</label>容描述
        </dt>
        <dd class="list_item_padding">
            {{info.conent}}
        </dd>
        <dd class="list_item_padding flex wrap columns2">
            <span class="colum cursor" target="_blank" @click="playMedia(item)" v-for="(item,index) in attments" :key="index">
                <template v-if="item.FILE_TYPE=='1'">
                    <img :src="Img(item.URL)" class="w100 imgcover" alt="">
                    <i class="iconfont icon-fangda absolute bottom right"></i>
                </template>
                <template v-else>
                    <i class="iconfont absolute bottom right placeholder" :class="item.FILE_TYPE=='2' ? 'icon-shipin' : 'icon-yinle1'"></i>
                </template>
            </span>
        </dd>
    </dl>
    <div v-if="loading == 1" class="fullload"><i class="loading"></i></div>
</div>
<script>
    (function () {
        new Vue({
            el: '#assist_tab_c119',
            data: {
                loading: 0,
                info: {},
                attments: []
            },
            created: function () {
                var info = JSON.parse(sessionStorage.getItem('_panel_info_') || '{}');
                this.options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
                this.info = info.C119Info || {};
                //获取附件
                this.getList();
            },
            methods: {
                getList: function () {
                    var self = this;
                    self.loading = 1;
                    $.get(QueryAlrma_Ctrl + 'GetAlarmInfo', {
                        alarmId: self.options.c119Id
                    }).done(function (d) {
                        self.attments = d.Alarmattachments || [];
                        GIS$.DrawToMap('c119', self.options, d.AlarmInfo);
                        self.loading = 2;
                    });
                },
                Img: function(id){
                    return FILEURL + id;
                },
                playMedia: function(item){
                    var self = this;
                    $.ligerDialog.open({
                        height: 600,
                        width: 800,
                        title : '媒体播放',
                        url: 'views/dialogs/media.html', 
                        isResize: true,
                        showMax: true,
                        data: {
                            url: self.Img(item.URL),
                            type: item.FILE_TYPE
                        }
                    });
                }
            }
        })
    })();
</script>