<div id="assist_tab_event" class="relative">
    <dl class="tab_panel">
        <dt class="tab_panel_title">
            <label class="circle red">报</label>警信息（48小时内）
        </dt>
        <dd class="list_item_padding" v-for="(item,index) in AlarmInfoList" @click="c119tomap(item)" :key="index">
            {{item.ALARMTIME.Date('yyyy-MM-dd hh:ss')}}（{{type119(item.ALARMTYPE)}}）
        </dd>
    </dl>
    <dl class="tab_panel">
        <dt class="tab_panel_title">
            <label class="circle orange">热</label>点信息
        </dt>
        <dd class="list_item_padding" v-for="(item,index) in HotList" @click="hottomap(item)" :key="index">
            <h3>{{item.LATITUDE}}</h3>
            <p>{{item.REPORT_TIME.Date('yyyy-MM-dd hh:ss')}}（{{item.HOTSPOT_SOURCE}}）</p>
        </dd>
    </dl>
    <div v-if="loading == 1" class="fullload"><i class="loading"></i></div>
</div>
<script>
    (function () {
        new Vue({
            el: '#assist_tab_event',
            data: {
                loading: 0,
                AlarmInfoList: [],
                HotList: [],
                options: {}
            },
            created: function () {
                this.options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
                this.getInfo();
            },
            methods: {
                type119: function (i) {
                    return TYPE119[i] || '其它'
                },
                getInfo: function () {
                    var self = this, options = this.options;
                    if (!options.userId) return console.log('缺少必要的userId！');
                    //error，巡护区时，没有时间段
                    self.loading = 1;
                    $.get(QueryAlrma_Ctrl + 'GetAlarmsByOrgan', {
                        sTime: '2017-01-01',
                        eTime: '2017-10-10',
                        userId: options.userId
                    }).done(function (d) {
                        self.AlarmInfoList = d;
                        self.loading = 2;
                    });

                    $.get(QueryHotSpot_Ctrl + 'GetHotSpotListByUserId', {
                        sTime: '2017-01-01',
                        eTime: '2017-10-10',
                        userId: options.userId
                    }).done(function (d) {
                        self.HotList = d;
                        self.loading = 2;
                    });
                },
                c119tomap: function(d){
                    GIS$.DrawToMap('c119', this.options, d);
                },
                hottomap: function(d){
                    GIS$.DrawToMap('hot', this.options, d);
                }
            }
        })
    })();
</script>
<style>
    #assist_tab_event dd {
        padding: 6px 0; font-size: 13px;
    }
</style>