<div id="assist_tab_forester" class="relative">
    <dl class="tab_panel">
        <dt class="tab_panel_title">
            <label class="circle blue">详</label>细信息
        </dt>
        <dd class="list_item_padding">
            <table class="table">
                <tr>
                    <th>
                        <label>{{info.UserInfo.SNAME}}</label>
                        <label>值班电话</label>
                    </th>
                    <td>{{info.UserInfo.DUTYPHONE}}</td>
                </tr>
                <tr>
                    <th>
                        <label>{{info.UserInfo.XNAME}}</label>
                        <label>值班电话</label>
                    </th>
                    <td>{{info.UserInfo.XDUTYPHONE}}</td>
                </tr>
                <tr>
                    <th><label>镇责任人</label></th>
                    <td>
                        <label>{{info.UserInfo.TOWNCONTACT}}</label>
                        <label>{{info.UserInfo.TOWNCONTACTPHONE}}</label>
                    </td>
                </tr>
                <tr>
                    <th><label>村责任人</label></th>
                    <td>
                        <label>{{info.UserInfo.VFRISTCONTACT}}</label>
                        <label>{{info.UserInfo.VFRISTCONTACTPHONE}}</label>
                    </td>
                </tr>
                <!-- <tr>
                    <th><label>村第二责任人</label></th>
                    <td>
                        <label>{{info.UserInfo.VSECONDCONTACT}}</label>
                        <label>{{info.UserInfo.VSECONDCONTACTPHONE}}</label>
                    </td>
                </tr> -->
            </table>
        </dd>
    </dl>
    <dl class="tab_panel" v-if="info.GpsInfo.COLLECTTIME">
        <dt class="tab_panel_title">
            <label class="circle green">定</label>位信息
        </dt>
        <dd class="list_item_padding">
            {{info.GpsInfo.COLLECTTIME.Date()}}（{{info.GpsInfo.PROVIDER}}定位）
        </dd>
        <dd class="list_item_padding">
            E{{info.GpsInfo.LONGITUDE}}&emsp;
            N{{info.GpsInfo.LATITUDE}}
        </dd>
        <dd class="list_item_padding">
           {{info.GpsInfo.ADDRESS}}
        </dd>
    </dl>
    <dl class="tab_panel" v-if="info.AlarmInfoList.length">
        <dt class="tab_panel_title">
            <label class="circle red">报</label>警信息（48小时内）
        </dt>
        <dd class="list_item_padding" v-for="(item,index) in info.AlarmInfoList" :key="index">
           {{item.LONGITUDE}} {{item.LATITUDE}} <br>
           {{item.ALARMTIME}}（{{item.ALARMTYPE}}）
        </dd>
    </dl>
    <dl class="tab_panel" v-if="info.NoticeList.length">
        <dt class="tab_panel_title">
            <label class="circle orange">紧</label>急任务（48小时内）
        </dt>
        <dd class="list_item_padding" v-for="(item,index) in info.NoticeList" :key="index">
            <p>标题：{{item.TITLE}}【{{item.TYPE}}】</p>
            <p>有效期截止：{{item.CONTENT}}</p>
            <p>发布人：{{item.PUBLISH_MANAGE_NAME}}</p>
            <p>发布日期：{{item.PUBLISH_TIME}}</p>
            <p>内容：{{item.CONTENT}}</p>
        </dd>
    </dl>
    <div v-if="loading == 1" class="fullload"><i class="loading"></i></div>
</div>
<script>
    (function(){
        new Vue({
            el: '#assist_tab_forester',
            data: {
                loading: 0,
                info: {
                    options: {},
                    UserInfo: {},
                    GpsInfo: {},
                    AlarmInfoList: [],
                    NoticeList: []
                }
            },
            created: function () {
                var info = JSON.parse(sessionStorage.getItem('_panel_info_') || '{}');
                this.options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
                if(info.UserInfo) {
                    this.setInfo(info)
                } else {
                    this.getInfo()
                }
            },
            methods: {
                getInfo: function () {
                    var self = this;
                    self.loading = 1;
                    $.get(QueryUser_Ctrl + 'GetUserInfoById', {
                        userId: self.options.userId,
                        isOnline: self.options.isOnline || false
                    }).done(function (d) {
                        self.setInfo(d);
                        self.loading = 2;
                    });
                },
                setInfo: function(info){
                    this.info.UserInfo = info.UserInfo || {};
                    this.info.GpsInfo = info.GpsInfo || {};
                    this.info.AlarmInfoList = info.AlarmInfoList || [];
                    this.info.NoticeList = info.NoticeList || [];
                }
            }
        })
    })();
</script>