<div id="assist_tab_road" class="h100">
    <dl v-show="!lineId" class="tab_panel h100 scroll">
        <dt class="tab_panel_title">
            <label class="circle orange">近</label>三天轨迹
        </dt>
        <dd class="list_item" v-for="(item,index) in lists" :key="index" @click="selectItem(item)">
            <p class="strong">{{item.LbsUserBaseInfo.USER_NAME}}</p>
            <p>{{item.StartTime}}</p>
            <p>共计：{{item.TimeLength}}小时&emsp;{{item.Distance}}公里</p>
        </dd>
    </dl>
    <div v-if="lineId" class="flex column h100 scroll">
        <div class="flex_1 scroll">
            <dl class="tab_panel">
                <dt class="tab_panel_title">
                    <label class="circle blue">基</label>本信息
                </dt>
                <dd class="list_item">
                    <p>{{DetailInfo.BaseInfo.StartTime}}</p>
                    <p>{{DetailInfo.BaseInfo.TimeLength}}小时&emsp;{{DetailInfo.BaseInfo.Distance}}公里</p>
                </dd>
            </dl>
            <dl class="tab_panel">
                <dt class="tab_panel_title">
                    <label class="circle green">轨</label>迹播放
                </dt>
                <dd class="list_item">
                    <audio class="audio" controls></audio>
                </dd>
            </dl>
            <dl class="tab_panel">
                <dt class="tab_panel_title">
                    <label class="circle orange">轨</label>迹点
                </dt>
                <dd class="list_item" v-for="(item,index) in DetailInfo.GpsDisplayPoints" :key="index">
                    <p><i class="icons"></i><span>{{item.COLLECTTIME.Date()}}</span></p>
                    <p>{{item.ADDRESS}}</p>
                    <p>E{{item.LONGITUDE}}&emsp;N{{item.LATITUDE}}</p>
                </dd>
            </dl>
        </div>
        <div v-if="options.userId" class="backouter">
            <button class="back" @click.prevent="backList"><i class="iconfont icon-back"></i> 返回</button>
        </div>
    </div>
</div>
<script>
    (function(){
        new Vue({
            el: '#assist_tab_road',
            data: {
                lists: [],
                options: {},
                lineId: '',
                DetailInfo: {
                    BaseInfo: {},
                    GpsDisplayPoints: [],
                    GpsInfos: []
                }
            },
            watch: {
                lineId: function(v){
                    v && this.getInfo();
                }
            },
            created: function () {
                this.options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
                if (this.options.userId) {
                    this.getList();
                } else if (this.options.lineId) {
                    this.lineId = this.options.lineId;
                } else {
                    console.log('缺少必要的userId！');
                }
            },
            methods: {
                getList: function () {
                    var self = this;
                    $.get(QueryGPSInfo_Ctrl + 'GetUserContrailList', {
                        sTime: '2017/8/1',
                        eTime: '2017/9/19',
                        userId: self.options.userId
                    }).done(function (d) {
                        self.lists = d || [];
                    });
                },
                getInfo: function(){
                    var self = this;
                    $.get(QueryGPSInfo_Ctrl + 'GetLineDetailInfo', {
                        lineId: self.lineId
                    }).done(function (d) {
                        //GIS$.showGj($.extend({GpsInfos: d.GpsInfos}, self.DetailInfo.BaseInfo));
                        self.DetailInfo.GpsDisplayPoints = d.GpsDisplayPoints || [];
                        self.DetailInfo.GpsInfos = d.GpsInfos || [];
                    });
                },
                selectItem: function(item){
                    this.lineId = item.LineId;
                    this.DetailInfo.BaseInfo = item;
                },
                backList: function(){
                    this.lineId = '';
                    this.DetailInfo = {
                        BaseInfo: {},
                        GpsDisplayPoints: [],
                        GpsInfos: []
                    };
                }
            }
        })
    })();
</script>