<div id="assist_tab_road" class="h100 relative">
    <dl v-show="!lineId" class="tab_panel h100 scroll">
        <dt class="tab_panel_title">
            <label class="circle orange">近</label>三天轨迹
        </dt>
        <dd class="list_item" v-for="(item,index) in lists" :key="index" @click="selectItem(item)">
            <p class="strong">{{item.LbsUserBaseInfo.USER_NAME}}</p>
            <p>{{item.StartTime}}</p>
            <p>共计：{{item.TimeLength}}小时&emsp;{{item.Distance}}公里</p>
        </dd>
    </dl>
    <div v-if="lineId" class="flex column h100 scroll">
        <div class="flex_1 scroll">
            <dl class="tab_panel" v-if="DetailInfo.BaseInfo">
                <dt class="tab_panel_title">
                    <label class="circle blue">基</label>本信息
                </dt>
                <dd class="list_item">
                    <p>{{DetailInfo.BaseInfo.StartTime}}</p>
                    <p>{{DetailInfo.BaseInfo.TimeLength}}小时&emsp;{{DetailInfo.BaseInfo.Distance}}公里</p>
                </dd>
            </dl>
            <dl class="tab_panel">
                <dt class="tab_panel_title">
                    <label class="circle green">轨</label>迹播放
                </dt>
                <dd class="list_item">
                    <audio class="audio" controls></audio>
                </dd>
            </dl>
            <dl class="tab_panel">
                <dt class="tab_panel_title">
                    <label class="circle orange">轨</label>迹点
                </dt>
                <dd class="list_item" v-for="(item,index) in DetailInfo.GpsDisplayPoints" :key="index">
                    <p><i class="icons"></i><span>{{item.COLLECTTIME.Date()}}</span></p>
                    <p>{{item.ADDRESS}}</p>
                    <p>E{{item.LONGITUDE}}&emsp;N{{item.LATITUDE}}</p>
                </dd>
            </dl>
        </div>
        <div v-if="DetailInfo.BaseInfo" class="backouter">
            <button class="back" @click.prevent="backList"><i class="iconfont icon-back"></i> 返回</button>
        </div>
    </div>
    <div v-if="loading == 1" class="fullload"><i class="loading"></i></div>
</div>
<script>
    (function(){
        new Vue({
            el: '#assist_tab_road',
            data: {
                loading: 0,
                lists: [],
                options: {},
                lineId: '',
                DetailInfo: {
                    BaseInfo: null,
                    GpsDisplayPoints: [],
                    GpsInfos: []
                }
            },
            created: function () {
                this.options = JSON.parse(sessionStorage.getItem('_panel_info_options_') || '{}');
                if (this.options.lineId) {
                    this.getInfo(this.options.lineId)
                } else {
                    this.getList();
                }
            },
            methods: {
                getList: function () {
                    var self = this;
                    //近三天的轨迹
                    self.loading = 1;
                    $.get(QueryGPSInfo_Ctrl + 'GetUserContrailList', {
                        sTime: '2017-01-01',
                        eTime: '2017-10-10',
                        userId: self.options.userId
                    }).done(function (d) {
                        self.lists = d || [];
                        self.loading = 2;
                    });
                },
                getInfo: function(lineId){
                    var self = this;
                    self.loading = 1;
                    self.lineId = lineId;
                    $.get(QueryGPSInfo_Ctrl + 'GetLineDetailInfo', {
                        lineId: lineId
                    }).done(function (d) {
                        self.setInfo(d);
                        self.loading = 2;
                    });
                },
                setInfo: function(info) {
                    GIS$.DrawToMap('road', this.options, info);
                    this.DetailInfo.GpsDisplayPoints = info.GpsDisplayPoints || [];
                    this.DetailInfo.GpsInfos = info.GpsInfos || [];
                },
                palyRoad: function(){
                    GIS$.trackPlay($.extend({
                        GpsInfos: this.DetailInfo.GpsInfos
                    }, this.DetailInfo.BaseInfo));
                },
                selectItem: function(item){
                    this.getInfo(item.LineId)
                    this.DetailInfo.BaseInfo = item;
                },
                backList: function(){
                    this.lineId = '';
                    this.DetailInfo = {
                        BaseInfo: {},
                        GpsDisplayPoints: [],
                        GpsInfos: []
                    };
                }
            }
        })
    })();
</script>