<div id="vue-actions" class="outer flex">
    <div class="single">
        <div class="block">
            <button class="item cursor" @click="taggleBtn(0)" :class="{'selected': selected==0}">
                <i class="icons icon_60"></i>
            </button>
        </div>
    </div>
    <div class="single">
        <div class="block flex_1">
            <div class="tabs flex">
                <!--
                <button class="item" @click="taggleBtn(1)">
                    <i class="icons icon_61"></i> 广东省
                </button>
                    -->
                <button class="item cursor" @click="taggleBtn(2)" :class="{'selected': selected==2}">
                    <i class="icons icon_62"></i> 定位
                </button>
                <button class="item cursor" @click="taggleBtn(3)" :class="{'selected': selected==3}">
                    <i class="icons icon_63"></i> 图层
                </button>
              <!--  <button v-if="layerModal == '2d'" class="item cursor" @click="taggleBtn(4)" :class="{'selected': selected==4}"> -->
                    <button  class="item cursor" @click="taggleBtn(4)" class="{'selected': selected==4}">
                        <i class="icons icon_64"></i> 工具
                        <dl class="toolDiv absolute bottom left w100 bbox bgfff" v-if="selected==4">
                            <dd v-for="(item,index) in tools" @click="toolsManger(item)">
                                <i class="icons" class="item.clsName"></i> {{item.name}}
                            </dd>
                        </dl>
                    </button>
                <button class="item cursor" @click="taggleBtn(5)" :class="{'selected': selected==5}">
                    <i class="icons icon_65"></i> 全屏
                </button>
            </div>
            <form v-if="selected==2" action="." @submit.prevent="gotoGPS" class="tabs_panel">
                <dl class="gpsDiv">
                    <dt class="flex acenter jcenter columns3">
                        <button class="input" type="button" :class="{'selected': gpsIdx == 0}" @click.prevent="gpsIdx = 0">地名</button>
                        <button class="input" type="button" :class="{'selected': gpsIdx == 1}" @click.prevent="gpsIdx = 1">度分秒形式</button>
                        <button class="input" type="button" :class="{'selected': gpsIdx == 2}" @click.prevent="gpsIdx = 2">小数形式</button>
                    </dt>
                    <template v-if="gpsIdx==0">
                        <dd class="hasClear input">
                            <input type="text" v-model="gps.address">
                            <i class="iconfont icon-guanbi absolute right"></i>
                        </dd>
                        <dd>请输入地名，如：广州市</dd>
                    </template>
                    <template v-if="gpsIdx==1">
                        <dd class="flex columns3">
                            <span class="input hasafter1">
                                <span class="absolute left after">E</span>
                                <input type="text" v-model="gps.ed" pattern="[0-9.]*">
                                <span class="absolute dw">°</span>
                            </span>
                            <span class="input">
                                <input type="text" v-model="gps.ef" pattern="[0-9.]*">
                                <span class="absolute dw">′</span>
                            </span>
                            <span class="hasClear input">
                                <input type="text" v-model="gps.em" pattern="[0-9.]*">
                                <span class="absolute dw">″</span>
                                <i class="iconfont icon-guanbi absolute right"></i>
                            </span>
                        </dd>
                        <dd class="flex columns3">
                            <span class="input hasafter1">
                                <span class="absolute left after">N</span>
                                <input type="text" v-model="gps.nd" pattern="[0-9.]*">
                                <span class="absolute dw">°</span>
                            </span>
                            <span class="input">
                                <input type="text" v-model="gps.nf" pattern="[0-9.]*">
                                <span class="absolute dw">′</span>
                            </span>
                            <span class="hasClear input">
                                <input type="text" v-model="gps.nm" pattern="[0-9.]*">
                                <span class="absolute dw">″</span>
                                <i class="iconfont icon-guanbi absolute right"></i>
                            </span>
                        </dd>
                    </template>
                    <template v-if="gpsIdx==2">
                        <dd class="hasClear input hasafter3">
                            <span class="absolute left after">经度：</span>
                            <input type="text" v-model="gps.edfm" pattern="[0-9.]*">
                            <i class="iconfont icon-guanbi absolute right"></i>
                        </dd>
                        <dd class="hasClear input hasafter3">
                            <span class="absolute left after">纬度：</span>
                            <input type="text" v-model="gps.ndfm" pattern="[0-9.]*">
                            <i class="iconfont icon-guanbi absolute right"></i>
                        </dd>
                    </template>
                    <dd class="btn tcenter">
                        <button type="submit">定位</button>
                    </dd>
                </dl>
            </form>
            <div v-if="selected==3" class="tabs_panel layersDiv">
                <dl>
                    <dt class="flex acenter">
                        <span class="flex_1">地图模式</span>
                    </dt>
                    <dd class="flex">
                        <span class="modal_item" @click="layerManger('2d')" :class="{'selected': layerModal=='2d'}">
                            <i class="modals modal_00"></i>
                            二维
                        </span>
                        <span class="modal_item" @click="layerManger('3d')" :class="{'selected': layerModal=='3d'}">
                            <i class="modals modal_01"></i>
                            三维
                        </span>
                    </dd>
                </dl>
                <dl>
                    <dt class="flex acenter"></dt>
                    <dd class="flex wrap layermanger">
                        <label class="whitespace" v-for="(item,index) in layers[0]" :key="index">
                            <input type="checkbox" class="hidden" v-model="item.val" @change="layerManger(item)">
                            <i class="checkbox"></i>
                            <span>
                                <i class="icons vcenter" :class="item.clsName"></i>
                                {{item.name}}
                            </span>
                        </label>
                    </dd>
                </dl>
                <dl>
                    <dt class="flex acenter">
                        <span class="flex_1">森林资源</span>
                    </dt>
                    <dd class="flex wrap layermanger">
                        <label class="whitespace" v-for="(item,index) in layers[1]" :key="index">
                            <input type="checkbox" class="hidden" @change="layerManger(item, $event)">
                            <i class="checkbox"></i>
                            <span>
                                <i class="icons vcenter" :class="item.clsName"></i>
                                {{item.name}}
                            </span>
                        </label>
                    </dd>
                </dl>
                <dl>
                    <dt class="flex acenter">
                        <span class="flex_1">防火专题</span>
                    </dt>
                    <dd class="flex wrap layermanger">
                        <label class="whitespace" v-for="(item,index) in layers[2]" :key="index">
                            <input type="checkbox" class="hidden" @change="layerManger(item, $event)">
                            <i class="checkbox"></i>
                            <span>
                                <i class="icons vcenter" :class="item.clsName"></i>
                                {{item.name}}
                            </span>
                        </label>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        Page.Actions = new Vue({
            el: '#vue-actions',
            data: {
                selected: -1,
                layerModal: '2d',
                gpsIdx: 0,
                gps: {
                    address: '',
                    ed: '',
                    ef: '',
                    em: '',
                    nd: '',
                    nf: '',
                    nm: '',
                    edfm: '',
                    ndfm: ''
                },
                layers: [
                    [
                        {
                            id: 'area',
                            name: '巡护区',
                            clsName: 'icon_74',
                            val: true
                        }
                    ],
                    [
                        {
                            id: '0',
                            name: '资源小班',
                            clsName: 'icon_74'
                        }
                    ],
                    [
                        {
                            id: '0',
                            name: '防火隔离带',
                            clsName: 'icon_75'
                        },
                        {
                            id: '1',
                            name: '暸望塔',
                            clsName: 'icon_76'
                        },
                        {
                            id: '2',
                            name: '视频监控点',
                            clsName: 'icon_77'
                        },
                        {
                            id: '3',
                            name: '物资储存库',
                            clsName: 'icon_78'
                        },
                        {
                            id: '4',
                            name: '电讯设备',
                            clsName: 'icon_79'
                        },
                        {
                            id: '5',
                            name: '消防专业队',
                            clsName: 'icon_710'
                        },
                        {
                            id: '6',
                            name: '灭火取水点',
                            clsName: 'icon_711'
                        },
                        {
                            id: '7',
                            name: '起降点',
                            clsName: 'icon_712'
                        },
                        {
                            id: '8',
                            name: '防火检查站',
                            clsName: 'icon_713'
                        },
                        {
                            id: '9',
                            name: '防范重点单位',
                            clsName: 'icon_714'
                        },
                        {
                            id: '10',
                            name: '指挥机构',
                            clsName: 'icon_74614'
                        },
                        {
                            id: '11',
                            name: '民用机场',
                            clsName: 'icon_613'
                        }
                    ]
                ],
                tools: [
                    {
                        id: '0',
                        name: '测距',
                        clsName: 'icon_70'
                    },
                    {
                        id: '1',
                        name: '测面',
                        clsName: 'icon_71'
                    },
                    {
                        id: '2',
                        name: '截图',
                        clsName: 'icon_72'
                    },
                    {
                        id: '3',
                        name: '清空',
                        clsName: 'icon_73'
                    }
                ]
            },
            watch: {
                selected: function (v) {
                    this.loadPanel(v == 0);
                }
            },
            created: function () {
                document.addEventListener("fullscreenchange", this.fullscreenchange);
                document.addEventListener("mozfullscreenchange", this.fullscreenchange);
                document.addEventListener("webkitfullscreenchange", this.fullscreenchange);
                document.addEventListener("msfullscreenchange", this.fullscreenchange);
            },
            mounted: function () {
                this.selected = 0;
                this.layerManger({
                    id: 'area',
                    val: true
                });
                var self = this;
                $(document).mouseover(function (e) {
                    $(e.target).closest('#openlayerBtns').size() < 1 && self.reset();
                });
            },
            methods: {
                taggleBtn: function (i) {
                    if(this.selected == i) {
                        this.selected = -1;
                    } else {
                        this.selected = i;
                    }
                    if(i == 5) {
                        this.launchFullscreen();
                    }
                },
                loadPanel: function (bol) {
                    this.selected = bol ? 0 : this.selected;
                    bol ? $('#assistPanel').load('views/main/assist/main.html').fadeIn(400) : $('#assistPanel').hide();
                },
                reset: function () {
                    this.selected = -1;
                },
                gotoGPS: function(){
                    switch (this.gpsIdx) {
                        case 0: 
                            $.get(Home_Ctrl + "/GetPalceByName", { name: this.gps.address }).done(function (data) {    GIS$.poiItemsShow(data); });
                            break;
                        case 1:
                            GIS$.gotoLocation([this.gps.ed, this.gps.ef, this.gps.em], [this.gps.nd, this.gps.nf, this.gps.nm]);
                            break;
                        case 2:
                            GIS$.gotoLocation(this.gps.edfm, this.gps.ndfm);
                            break;
                    }
                    this.reset();
                },
                layerManger: function (item) {
                    if(item == '2d') {
                        this.layerModal = '2d'
                        GIS$.switch2D();
                    } else if (item == '3d') {
                        this.layerModal = '3d'
                        GIS$.switch3D();
                    } else {
                        item.id == 'area' && (function checkGIS() {
                            if (typeof GIS$ == 'undefined') {
                                setTimeout(checkGIS);
                            } else {
                                if ('showXhqMap' in GIS$ && typeof hlyMapService != 'undefined') {
                                    GIS$.showXhqMap(item.val);
                                } else {
                                    setTimeout(checkGIS);
                                }
                            }
                        })();
                    }
                },
                toolsManger: function(item){
                    //清除
                    item.id == 3 && GIS$.mapClear();
                    this.reset();
                },
                fullscreenchange: function (e) {
                    if ($('#app').hasClass("full-screen")) {
						$('#app').removeClass("full-screen");
                        this.selected = -1;
					} else {
						$('#app').addClass("full-screen");
                    }
                },
                launchFullscreen: function(){
                    var element = document.documentElement;
					if (!$('#app').hasClass("full-screen")) {
						if (element.requestFullscreen) {
							element.requestFullscreen();
						} else if (element.mozRequestFullScreen) {
							element.mozRequestFullScreen();
						} else if (element.webkitRequestFullscreen) {
							element.webkitRequestFullscreen();
						} else if (element.msRequestFullscreen) {
							element.msRequestFullscreen();
						}
					} else {
						if (document.exitFullscreen) {
							document.exitFullscreen();
						} else if (document.mozCancelFullScreen) {
							document.mozCancelFullScreen();
						} else if (document.webkitExitFullscreen) {
							document.webkitExitFullscreen();
						}
					}
                }
            }
        })
    })();
</script>