<div id="vue-forester" class="flex column h100">
    <div class="title bbox flex acenter">
        <i class="icons"></i>
        <span class="flex_1">护林员查询</span>
        <label>
            <input type="checkbox" class="hidden" v-model="offline">
            <i class="checkbox"></i>
            离线
        </label>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="query">
        <form action="." @submit.prevent="filterQuery" class="flex acenter searchinput">
            <input type="text" v-model="filterWord" placeholder="请输入人名/电话查询" class="flex_1">
            <button type="submit"><i class="icons icon_30"></i></button>
        </form>
        <div class="tabsarea flex acenter jcenter">
            <span class="flex_1" :class="{'selected': tabIdx == 0}" @click="tabIdx=0">组织机构</span>
            <span class="flex_1" :class="{'selected': tabIdx == 1}" @click="tabIdx=1">查询结果</span>
        </div>
    </div>
    <div class="result flex_1 ohidden">
        <div class="treeContext h100 scroll bbox" v-show="tabIdx == 0">
            <ul id="treecontext" class="l-tree l-tree-nolines" style="width: calc(100% - 30px)"></ul>
        </div>
        <div class="resultContext h100 scroll bbox" v-show="tabIdx == 1">
            <dl>
                <dd v-for="(item,index) in results" :key="index" @click="selectItem(index)" :class="{'selected': index==resultsIdx}">
                    <h3><i class="icons" :class="(item.Provider || 'NETWORK') + (item.IsOnline ? ' online' : '')"></i><span>{{item.DEPARTMENT_NAME}}</span></h3>
                    <p class="whitespace">{{item.USER_NAME}}&emsp;{{item.PHONE_NUM}}</p>
                    <p class="whitespace">面积&emsp;{{item.Area}}亩</p>
                </dd>
            </dl>
        </div>
    </div>
</div>

<script>
    (function () {
        var treeEve;
        Page.Forester = new Vue({
            el: '#vue-forester',
            data: {
                offline: true,
                filterWord: '',
                tabIdx: 0,
                resultsIdx: -1,
                results: [],
                lastPanel: 'main'
            },
            watch: {
                offline: function (v) {
                    treeEve.reload()
                }
            },
            mounted: mounted,
            methods: {
                filterQuery: function () {
                    var self = this;
                    this.tabIdx = +!!this.filterWord;
                    $.get(QueryUser_Ctrl + "GetLbsUsersByUserInfo", {
                        userInfo: self.filterWord,
                        organId: 2,
                        disconnectTimer: TIMEOUT
                    }).done(function (data) {
                        self.results = data;
                    })
                },
                selectItem: function (idx) {
                    this.resultsIdx = idx;
                    var data = this.results[idx];
                    GIS$.getUserInfoAndToShow({
                        userId: data.ID,
                        isOnline: data.IsOnline
                    });
                }
            }
        });

        function mounted() {
            var self = this;
            var parms = '&disconnectTimer=' + TIMEOUT;
            treeEve = $("#treecontext").ligerTree({
                url: Home_Ctrl + 'GetHomeRootOrgan?organId=' + Prov_Code.OrganID + parms,
                ajaxType: 'get',
                slide: false,
                checkbox: false,
                treeLine: false,
                childIcon: '',
                isLeaf: function (data) {
                    if (!data) return false;
                    return 'UserId' in data;
                },
                delay: function (e) {
                    var data = e.data;
                    if (!data) return false;
                    if (data.IsExistSub) {
                        return {
                            url: Home_Ctrl + 'GetHomeSubOrganList?organId=' + data.OrganID + parms
                        }
                    } else {
                        return {
                            url: Home_Ctrl + 'GetHomeUserList?organId=' + data.OrganID +
                                '&isDisplayOffLine=' + self.offline + parms
                        }
                    }
                },
                onSelect: function(e){
                    var data = e.data;
                    if (!data) return;
                    if('UserId' in data) {
                        GIS$.getUserInfoAndToShow({
                            userId: data.UserId,
                            isOnline: data.IsOnline
                        }, function (d) {
                            $('.placeholder', e.target).replaceWith(function () {
                                return '<label>' + this.innerHTML + '</label>' +
                                    '<label>电话：' + d.UserInfo.PHONE_NUM + '</label>' +
                                    '<label>面积：' + d.Area + '亩</label>';
                            });
                        });
                    } else {
                        GIS$.getDistLineAndToShow(data.OrganID);
                        sessionStorage.setItem('_panel_main_options_', JSON.stringify(data));
                        //加载副面板
                        Page.Actions.loadPanel(true);
                    }
                },
                render: function (data) {
                    if ('UserId' in data) {
                        return '<label class="placeholder"><i class="icons ' + (data.Provider || 'NETWORK') + (data.IsOnline ? ' online ' : '') + '"></i>' + data.UserName + '</label>'
                    } else {
                        return data.OrganName + '（' + data.OrganOnLineNum + '/' + data.OrganTotal + '）'
                    }
                },
                onSuccess: function (data) {
                    if (!data || !data[0]) return false;
                    if (data[0]['OrganID'] == Prov_Code.OrganID) {
                        data[0].IsExistSub && treeEve.expandAll();
                        // Page.Actions.loadPanel(true);
                    }
                }
            });
        }
    })();
</script>