<div id="vue-forester" class="flex column h100">
    <div class="title bbox flex acenter">
        <i class="icons"></i>
        <span class="flex_1">护林员查询</span>
        <label>
            <input type="checkbox" v-model="offline">
            <i class="checkbox"></i>
            离线
        </label>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="query">
        <form action="." @submit.prevent="filterQuery" class="flex acenter">
            <input type="text" v-model="filterWord" placeholder="请输入人名/电话查询" class="flex_1">
            <button type="submit"><i class="icons icon_30"></i></button>
        </form>
        <div class="tabs flex acenter jcenter">
            <span class="flex_1" :class="{'selected': tabIdx == 0}" @click="tabIdx=0">组织机构</span>
            <span class="flex_1" :class="{'selected': tabIdx == 1}" @click="tabIdx=1">查询结果</span>
        </div>
    </div>
    <div class="result flex_1 ohidden">
        <div class="treeContext h100 scroll bbox" v-show="tabIdx == 0">
            <ul id="treecontext" class="l-tree" style="width: calc(100% - 30px)"></ul>
        </div>
        <div class="resultContext h100 scroll bbox" v-show="tabIdx == 1">
            <dl>
                <dd>
                    <h3><i class="icons"></i><span>清远市阳山县</span></h3>
                    <p>赵家辉&emsp;13512345678</p>
                    <p>面积&emsp;1234.23亩</p>
                </dd>
                <dd>
                    <h3><i class="icons"></i><span>清远市阳山县</span></h3>
                    <p>赵家辉&emsp;13512345678</p>
                    <p>面积&emsp;1234.23亩</p>
                </dd>
                <dd>
                    <h3><i class="icons"></i><span>清远市阳山县</span></h3>
                    <p>赵家辉&emsp;13512345678</p>
                    <p>面积&emsp;1234.23亩</p>
                </dd>
                <dd>
                    <h3><i class="icons"></i><span>清远市阳山县</span></h3>
                    <p>赵家辉&emsp;13512345678</p>
                    <p>面积&emsp;1234.23亩</p>
                </dd>
            </dl>
        </div>
    </div>
</div>

<script>
(function () {
    var treeEve;
    var treeDom = new Vue({
        el: '#vue-forester',
        data:  {
            offline: true,
            filterWord: '',
            tabIdx: 0
        },
        watch: {
            offline: function(v){
                treeEve.reload()
            }
        },
        mounted: mounted,
        methods: {
            filterQuery: function(){
                var self = this;
                this.tabIdx = +!!this.filterWord;
                $.get(HOMECtrl + "GetLbsUsersByUserInfo", {
                    userInfo: self.filterWord,
                    organId: 2
                }).done(function(data){
                    console.log('data-filterquery:', data);
                })
            }
        }
    });
    function mounted () {
        var self = this;
        var parms = '&disconnectTimer=' + TIMEOUT;
        treeEve = $("#treecontext").ligerTree({
            url: HOMECtrl + 'GetHomeRootOrgan?organId=2' + parms,
            ajaxType: 'get',
            slide: false,
            checkbox: false,
            treeLine: false,
            childIcon: '',
            isLeaf: function(data){
                if (!data) return false;
                return 'UserId' in data;
            },
            delay: function(e){
                var data = e.data;
                if (data.IsExistSub){
                    return { 
                        url: HOMECtrl + 'GetHomeSubOrganList?organId='+ data.OrganID + parms
                    }
                } else {
                    return { 
                        url: HOMECtrl + 'GetHomeUserList?organId='+ data.OrganID +'&isDisplayOffLine='+ self.offline + parms
                    }
                }
            },
            onClick: function(e, target) {
                console.log('onClick:data', e.data);
                'UserId' in e.data && Page.fillPanel({url: 'views/main/assist/info.html'})
            },
            render: function(data, name){
                if('UserId' in data) {
                    return '<i class="icons '+ (data.Provider ? 'icon_00' : 'icon_01') +'"></i>' + data.UserName
                } else {
                    return data.OrganName + '（'+ data.OrganOnLineNum +'/'+ data.OrganTotal +'）'
                }
            },
            onSuccess: function (data) {
                data[0]['OrganID'] == 2 && data[0].IsExistSub && treeEve.expandAll();
            }
        });
    }
})();
</script>