<div class="flex column h100">
        <header id="secondMenu">
            <dl>
                <dd v-for="(item,index) in menus" @click="selectMenu(item.id)" :key="item.id" :class="{'selected': selected == item.id}">
                    <i class="icons" :class="item.clsName"></i>{{item.name}}
                </dd>
            </dl>
        </header>
        <section id="openlayerFrame" class="flex_1 ohidden relative">
            <div id="openlayerContent" class="w100 h100"></div>
            <div id="openlayerBtns" class="absolute"></div>
            <div id="mainPanel" class="panel"></div>
            <div id="assistPanel" class="panel"></div>
        </section>
    </div>
    <script>
        var Page = {};
        (function(){
            var nav2Vue = new Vue({
                el: '#secondMenu',
                data: {
                    menus: SECONDMENUS,
                    selected: ''
                },
                watch: {
                    selected: function(val, o) {
                        var self = this, targetId;
                        var item = this.menus.filter(function(item){
                            return item.id == val;
                        })[0];
                        if(!item) return;
                        //离开时清除原有专题
                        Page.destroyed && (Page.destroyed(), Page.destroyed = null);
                        sessionStorage.setItem('_2_nav_selected_', val);
                        //清除不同面板下副面板的选中项
                        sessionStorage.removeItem('_panel_nav_selected_');
                        targetId = 'mainPanel_item_' + item.id;
                        if (!item.cached) {
                            item.cached = true;
                            $('#mainPanel').append($('<div id="'+ targetId +'" class="h100 w100 hidden"></div>').load(item.link));
                        }
                        $('#mainPanel').fadeIn(400).find('#' + targetId).show().siblings().hide();
                    }
                },
                created: function () {
                    $('#openlayerBtns').load('views/actions.html');
                    $('#openlayerFrame .panel').on('click', '.close', function(){
                        $(this).closest('.panel').fadeOut(400);
                        //关闭汇总信息
                        Page.Actions.reset();
                    });
                    (function initMap(){
                        if (typeof Hly != 'undefined') {
                            //地图初始化
                            GIS$.mapInit();
                            //地图数据刷新
                            GIS$.mapDataRefresh();
                            //点击事件挂接
                            GIS$.mapClickEvent();
                            //加载护林员专栏
                            GIS$.hlyThemeOnShow();
                        } else {
                            setTimeout(initMap);
                        }
                    })();
                },
                mounted: function () {
                    this.selectMenu(sessionStorage.getItem('_2_nav_selected_') || 'forester');
                },
                methods: {
                    selectMenu: function(idx) {
                        this.selected = idx;
                    }
                }
            });

            Page.showInfo = function (pageId, options, data) {
                console.log(data);
                //副面板简要信息
                sessionStorage.setItem('_panel_info_', JSON.stringify(data));
                //副面板关键id信息（护林员id，路径id，巡护区id，热点id等）
                sessionStorage.setItem('_panel_info_options_', JSON.stringify($.extend({ pageId: pageId }, options)));

                //关闭简要信息
                Page.Actions.reset();
                window.setTimeout(function(){
                    $('#assistPanel').load('views/main/assist/info.html').fadeIn(400);
                })
            }
        })();
    </script>