<div class="flex column h100">
        <header id="secondMenu">
            <dl>
                <dd v-for="(item,index) in menus" @click="selectMenu(item.id)" :key="item.id" :class="{'curred': selected == item.id}">
                    <i class="icons" :class="item.clsName"></i>{{item.name}}
                </dd>
            </dl>
        </header>
        <section id="openlayerFrame" class="flex_1 ohidden relative">
            <div id="openlayerContent" class="w100 h100"></div>
            <div id="mainPanel" class="panel"></div>
            <div id="assistPanel" class="panel"></div>
            <div id="openlayerTips" class="absolute bottom right"></div>
            <div id="openlayerBtns" class="absolute"></div>
        </section>
    </div>
    <script>
        var Page = {};
        (function(){
            var nav2Vue = new Vue({
                el: '#secondMenu',
                data: {
                    menus: SECONDMENUS,
                    selected: ''
                },
                watch: {
                    selected: function (v){
                        if (!v) {
                            sessionStorage.removeItem('_2_nav_selected_');
                            $('#mainPanel').fadeOut(400);
                        } else {
                            sessionStorage.setItem('_2_nav_selected_', v);
                        }
                        //清除不同面板下副面板的选中项
                        sessionStorage.removeItem('_panel_nav_selected_');
                    }
                },
                created: function () {
                    var self = this;
                    $('#openlayerBtns').load('views/actions.html');
                    $('#openlayerFrame').on('click', '.panel .close', function(){
                        $(this).closest('.panel').fadeOut(400);
                        //关闭汇总信息
                        $(this).closest('#vue-assist-main').size() && Page.Actions.reset();
                        // 关闭左侧主面板
                        $(this).closest('#mainPanel').size() && (self.selected = '');
                    });
                    (function initMap(){
                        if (typeof Hly != 'undefined') {
                            //地图初始化
                            GIS$.mapInit();
                        } else {
                            setTimeout(initMap);
                        }
                    })();
                    $('#openlayerTips').load('views/tips.html');
                },
                // mounted: function () {
                //     this.selectMenu(sessionStorage.getItem('_2_nav_selected_') || 'forester');
                // },
                methods: {
                    selectMenu: function(val) {
                        this.selected = this.selected == val ? '' : val;
                        var self = this, targetId;
                        var item = this.menus.filter(function(item){
                            return item.id == val;
                        })[0];
                        if(!item) return;
                        targetId = 'mainPanel_item_' + item.id;
                        if (!item.cached) {
                            item.cached = true;
                            $('#mainPanel').append($('<div id="'+ targetId +'" class="h100 w100 hidden"></div>').load(item.link));
                        }
                        $('#mainPanel').fadeIn(400).find('#' + targetId).show().siblings().hide();
                        //加载底图
                        GIS$.enableRaiseXhqClickEvent(val == 'area');
                    }
                }
            });

            Page.showInfo = function (pageId, options, data) {
                //副面板简要信息
                sessionStorage.setItem('_panel_info_', JSON.stringify(data));
                //副面板关键id信息（护林员id，路径id，巡护区id，热点id等）
                sessionStorage.setItem('_panel_info_options_', JSON.stringify($.extend({ pageId: pageId }, options)));

                //关闭简要信息
                Page.Actions.reset();
                window.setTimeout(function(){
                    $('#assistPanel').removeClass('fixedHeight').load('views/main/assist/info.html').fadeIn(400);
                })
            }
        })();
    </script>