<div id="vue-querywhere" class="flex column h100 querywhere">
    <div class="title bbox flex acenter">
        <i class="icons"></i>
        <span class="flex_1">{{pageName}}查询</span>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="query flex_1" v-show="loading < 1">
        <form action="." @submit.prevent="filterQuery">
            <p class="flex group">
                <label class="label">省</label>
                <span class="flex_1 input">
                    <select v-model="form.province" class="w100">
                        <option v-for="i in options.province" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group">
                <label class="label">市</label>
                <span class="flex_1 input">
                    <select v-model="form.city" class="w100">
                        <option v-for="i in options.city" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group">
                <label class="label">县</label>
                <span class="flex_1 input">
                    <select v-model="form.county" class="w100">
                        <option v-for="i in options.county" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group">
                <label class="label">乡</label>
                <span class="flex_1 input">
                    <select v-model="form.village" class="w100">
                        <option v-for="i in options.village" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group" v-if="pageId != 4">
                <label class="label">护林员</label>
                <span class="flex_1 input">
                    <input type="text" v-model="form.user" placeholder="请输入护林员姓名或电话" class="w100">
                </span>
            </p>
            <p class="flex group" v-if="pageId == 3">
                <label class="label">类型</label>
                <span class="flex_1 input">
                    <select v-model="form.type" class="w100">
                        <option value="">--请选择--</option>
                        <option v-for="(i, index) in 7" :key="index" :value="i">{{i}}</option>
                    </select>
                </span>
            </p>
            <template v-if="pageId == 2">
                <p class="flex group">
                    <label class="label">编号</label>
                    <span class="flex_1 input">
                        <input type="text" v-model="form.areanum" class="w100">
                    </span>
                </p>
                <p class="flex group">
                    <label class="label">名称</label>
                    <span class="flex_1 input">
                        <input type="text" v-model="form.areaname" class="w100">
                    </span>
                </p>
            </template>
            <p class="flex group" v-if="pageId != 2">
                <label class="label">日期</label>
                <span class="flex_1 flex column">
                    <span class="input"><input type="text" :id="btimeId" class="w100"></span>
                    <span class="tcenter">至</span>
                    <span class="input"><input type="text" :id="etimeId" class="w100"></span>
                </span>
            </p>
            <p class="tcenter group">
                <button type="submit" class="submit"><i class="icons vcenter"></i> 查询</button>
                <button type="reset"><i class="icons vcenter"></i> 清除</button>
            </p>
        </form>
    </div>
    <div class="result flex_1 flex column" v-show="loading >= 1">
        <div class="backouter flex">
            <button class="back" @click.prevent="backList"><i class="iconfont icon-back"></i> 返回</button>
            <span class="flex_1"></span>
            <span class="tipresult">
                搜索出结果 <label>{{results.length}}</label> 条
            </span>
        </div>
        <div v-if="pageId == 5" class="tabsarea flex acenter jcenter">
            <span class="flex_1" :class="{'selected': tabIdx == 0}" @click="filterAttend(0)">按日期排序</span>
            <span class="flex_1" :class="{'selected': tabIdx == 1}" @click="filterAttend(1)">按人名排序</span>
        </div>
        <dl class="flex_1 scroll resultContext">
            <dt class="tcenter" v-if="loading == 1">加载中...</dt>
            <dd v-for="(item,index) in results.length" :key="index" @click="selectItem(index)" :class="{'selected': index==resultsIdx}">
                <h3 class="whitespace">我是结果</h3>
                <p class="whitespace">面积&emsp;10000亩</p>
            </dd>
        </dl>
    </div>
</div>

<script>
    (function () {
        var pageId = sessionStorage.getItem('_2_nav_selected_') || 1;
        document.getElementById('vue-querywhere').setAttribute('id', 'vue-querywhere-' + pageId);
        new Vue({
            el: '#vue-querywhere-' + pageId,
            data: {
                loading: false,
                resultsIdx: -1,
                results: [],
                tabIdx: 0,
                btimeId: 'btime' + +new Date(),
                etimeId: 'etime' + +new Date(),
                cascade: ['province', 'city', 'county', 'village'],
                form: {
                    province: '',
                    city: '',
                    county: '',
                    village: '',
                    btime: '',
                    etime: '',
                    user: '',
                    type: '',
                    areanum: '',
                    areaname: ''
                },
                options: {
                    province: [],
                    city: [],
                    county: [],
                    village: []
                },
                pageId: pageId,
                pageName: SECONDMENUS[pageId].name
            },
            watch: {
                'form.province': function (v) {
                    this.initDistrict('city');
                },
                'form.city': function () {
                    this.initDistrict('county');
                },
                'form.county': function () {
                    this.initDistrict('village');
                }
            },
            computed: {
                organId: function(){
                    return this.form.village || this.form.county || this.form.city || this.form.province;
                }
            },
            created: function () {
                this.initDistrict('province');
            },
            mounted: function () {
                $('#' + this.btimeId).ligerDateEditor();
                $('#' + this.etimeId).ligerDateEditor();
            },
            methods: {
                initDistrict: function(key) {
                    var self = this;
                    var level = this.cascade.indexOf(key);
                    var val = !level ? Prov_Code.OrganID : self.form[this.cascade[level - 1]];
                    var url = level > 0 ? 'GetHomeSubOrganList' : 'GetHomeRootOrgan';
                    if(key && level != -1) {
                        this.cascade.forEach(function(item, idx) {
                            if(idx < level) return;
                            console.log('clear', item);
                            self.form[item] = '';
                            self.options[item] = [];
                        }, this);
                    }
                    if(level && !val) return;

                    $.get(Home_Ctrl + url, {
                        organId: val,
                        disconnectTimer: TIMEOUT
                    }).done(function (d) {
                        self.options[key] = [{ "OrganID": "", "OrganName": "--请选择--" }].concat(d);
                        level < 1 && (self.form.province = Prov_Code.OrganID);
                    });
                },
                filterQuery: function () {
                    var self = this;
                    this.loading = 1;
                    this.form.btime = $('#' + this.btimeId).val();
                    this.form.etime = $('#' + this.etimeId).val();
                    console.log('this.form', this.form);
                    switch(pageId) {
                        case "1" :
                            this.filterRoad(); break;
                        case "2" :
                            this.filterArea(); break;
                        case "3" :
                            this.filter119(); break;
                        case "4" :
                            this.filterHot(); break;
                        case "5" :
                            this.filterAttend(); break;
                    }
                },
                //查询轨迹
                filterRoad: function() {
                    var self = this;
                    $.get(QueryGPSInfo_Ctrl + 'GetUserContrailListByCondition', {
                        organId: self.organId,
                        userNameOrPhone: self.form.user,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.results = d || [];
                        self.loading = 2;
                    });
                },
                //查询巡护区
                filterArea: function() {
                    var self = this;
                    $.get(QueryPatrolarea_Ctrl + 'GetPatrolAreaByCondition', {
                        organId: self.organId,
                        userNameOrPhone: self.form.user,
                        code: self.form.areanum,
                        name: self.form.areaname
                    }).done(function (d) {
                        self.results = d || [];
                        self.loading = 2;
                    });
                },
                //查询报警
                filter119: function() {
                    var self = this;
                    $.get(QueryAlrma_Ctrl + 'GetAlarmsByCondition', {
                        organId: self.organId,
                        userNameOrPhone: self.form.user,
                        alarmType: self.form.type,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.results = d || [];
                        self.loading = 2;
                    });
                },
                //查询热点
                filterHot: function() {
                    var self = this;
                    $.get(QueryHotSpot_Ctrl + 'GetHotspotList', {
                        organId: self.organId,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.results = d || [];
                        self.loading = 2;
                    });
                },
                //查询考勤(Time, User)
                filterAttend: function(type) {
                    var self = this;
                    var types = ['Time', 'User'];
                    $.get(QueryAttendance_Ctrl + 'GetAttendanceListTo' + types[type || 0], {
                        organId: self.organId,
                        userNameOrPhone: self.form.user,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.results = d || [];
                        self.tabIdx = type;
                        self.loading = 2;
                    });
                },
                selectItem: function (idx) {
                    this.resultsIdx = idx;
                    var data = this.results[idx];
                },
                backList: function () {
                    this.loading = 0;
                    this.results = [];
                }
            }
        });
    })();
</script>