<div id="vue-querywhere" class="flex column h100 querywhere">
    <div class="title bbox flex acenter">
        <i class="icons" :class="pageClsName"></i>
        <span class="flex_1">{{pageName}}查询</span>
        <button class="close"><i class="iconfont icon-x"></i></button>
    </div>
    <div class="query flex_1" v-show="loading < 1">
        <form action="." @submit.prevent="filterQuery">
            <p class="flex group">
                <label class="label">省</label>
                <span class="flex_1 input">
                    <select v-model="form.province" class="w100" :disabled="disableds.province">
                        <option v-for="i in options.province" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group">
                <label class="label">市</label>
                <span class="flex_1 input">
                    <select v-model="form.city" class="w100" :disabled="disableds.city">
                        <option v-for="i in options.city" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group">
                <label class="label">县</label>
                <span class="flex_1 input">
                    <select v-model="form.county" class="w100" :disabled="disableds.county">
                        <option v-for="i in options.county" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group">
                <label class="label">乡</label>
                <span class="flex_1 input">
                    <select v-model="form.village" class="w100" :disabled="disableds.village">
                        <option v-for="i in options.village" :key="i.OrganID" :value="i.OrganID" v-html="i.OrganName"></option>
                    </select>
                </span>
            </p>
            <p class="flex group" v-if="pageId != 'hot'">
                <label class="label">护林员</label>
                <span class="flex_1 input">
                    <input type="text" v-model="form.user" placeholder="请输入护林员姓名或电话" class="w100">
                </span>
            </p>
            <p class="flex group" v-if="pageId == 'c119'">
                <label class="label">类型</label>
                <span class="flex_1 input">
                    <select v-model="form.type119" class="w100">
                        <option value="">--全部类型--</option>
                        <option v-for="(i, index) in options.type119" :key="index" :value="index">{{i}}</option>
                    </select>
                </span>
            </p>
            <template v-if="pageId == 'area'">
                <p class="flex group">
                    <label class="label">编号</label>
                    <span class="flex_1 input">
                        <input type="text" v-model="form.areanum" class="w100">
                    </span>
                </p>
                <p class="flex group">
                    <label class="label">名称</label>
                    <span class="flex_1 input">
                        <input type="text" v-model="form.areaname" class="w100">
                    </span>
                </p>
            </template>
            <p class="flex group" v-if="pageId != 'area'">
                <label class="label">日期</label>
                <span class="flex_1 flex column">
                    <span class="input"><input type="text" :id="btimeId" class="w100"></span>
                    <span class="tcenter">至</span>
                    <span class="input"><input type="text" :id="etimeId" class="w100"></span>
                </span>
            </p>
            <p class="tcenter group">
                <button type="submit" class="submit"><i class="icons icon_30 vcenter"></i> 查询</button>
                <button type="reset"><i class="icons icon_73 vcenter"></i> 清除</button>
            </p>
        </form>
    </div>
    <div class="result flex_1 flex column" v-show="loading >= 1">
        <div class="backouter flex">
            <button class="back" @click.prevent="backList"><i class="iconfont icon-back"></i> 返回</button>
            <span class="flex_1"></span>
            <span class="tipresult">
                搜索出结果 <label>{{results.length}}</label> 条
            </span>
        </div>
        <div v-if="pageId == 'attend'" class="tabsarea flex acenter jcenter">
            <span class="flex_1" :class="{'selected': tabIdx == 0}" @click="filterAttend(0)">按日期排序</span>
            <span class="flex_1" :class="{'selected': tabIdx == 1}" @click="filterAttend(1)">按人名排序</span>
        </div>
        <dl class="flex_1 scroll resultContext" :class="{'liketable': pageId == 'attend', 'noresult': !results.length && loading == 2}">
            <dt class="tcenter" v-if="loading == 1"><i class="loading"></i></dt>
            <dd v-for="(item,index) in results" class="cursor" :key="index" @click="selectItem(index)" :id="pageId + '_' + index" :class="{'selected': index==resultsIdx}">
                <template v-if="pageId == 'road'">
                    <h3 class="whitespace">{{item.LbsUserBaseInfo.USER_NAME}}</h3>
                    <p>{{item.StartTime}}</p>
                    <p>共计：{{item.TimeLength}}小时&emsp;{{item.Distance}}公里</p>
                </template>
                <template v-else-if="pageId == 'area'">
                    <h3 class="whitespace">{{item.AreaName}}（{{item.BH}}）</h4>
                    <p>{{item.UserName}}&emsp;{{item.AreaOrgan}}</p>
                </template>
                <template v-else-if="pageId == 'c119'">
                    <h3 class="whitespace">{{item.AlarmOrgan}}</h4>
                    <p>{{item.LbsUserBaseInfo.USER_NAME}}（{{ type119(item.ALARMTYPE) }}）</p>
                    <p>{{ item.ALARMTIME.Date('yyyy-MM-dd hh:mm:ss') }}</p>
                </template>
                <template v-else-if="pageId == 'hot'">
                    <h3 class="whitespace">{{item.HOTSPOT_NO}}（{{item.HOTSPOT_SOURCE}}）</h4>
                    <p>上报时间&ensp;{{ item.REPORT_TIME.Date('yyyy-MM-dd hh:mm') }}</p>
                    <p>{{item.HOTSPOT_SITE }}</p>
                </template>
                <template v-else-if="pageId == 'attend'">
                    <h3 class="flex">
                        <span class="flex_1">{{item.AttendanceTimeOrName}}</span>
                        <i class="iconfont opacity4" :class="index==resultsIdx ? 'icon-shousuo-copy' : 'icon-zhankai-copy'"></i>
                    </h3>
                    <p>总出勤率&emsp;{{item.TotalRate}}%</p>
                    <p>总时长&emsp;{{item.TotalTimeLength}}小时</p>
                    <ul v-if="index==resultsIdx" class="recordtable">
                        <li class="flex tr" v-for="(r,ridx) in item.records" :key="ridx">
                            <div class="th"><label>{{ r.AttendanceTimeOrName.split(' ')[0] }}</label></div>
                            <div v-if="r.State == '1'" class="th flex_1">
                                <p>{{r.TimeLength}}小时&emsp;{{r.Distance}}km</p>
                                <p>
                                    <button class="cursor linebtn" v-for="(line, idx) in r.LinesInfos" @click.prevent="selectLineTime(index, ridx, idx)">{{line.StartTime}}</button>
                                </p>
                            </div>
                            <div v-else class="th flex_1">
                                <label class="warncolor">{{ r.State == '2' ? '请假' : '旷工' }}</label>
                            </div>
                        </li>
                    </ul>
                </template>
            </dd>
        </dl>
    </div>
</div>

<script>
    (function () {
        var _2_nav_selected;
        var pageId = sessionStorage.getItem('_2_nav_selected_') || 'road';
        document.getElementById('vue-querywhere').setAttribute('id', 'vue-querywhere-' + pageId);
        _2_nav_selected = SECONDMENUS.filter(function(i){
            return i.id == pageId;
        })[0];
        new Vue({
            el: '#vue-querywhere-' + pageId,
            data: {
                loading: 0,
                resultsIdx: -1,
                results: [],
                tabIdx: 0,
                btimeId: 'btime' + +new Date(),
                etimeId: 'etime' + +new Date(),
                cascade: ['province', 'city', 'county', 'village'],
                disableds: {
                    province: false,
                    city: false,
                    county: false,
                    village: false
                },
                defVal: [],
                form: {
                    province: '',
                    city: '',
                    county: '',
                    village: '',
                    btime: '',
                    etime: '',
                    user: '',
                    type119: '',
                    areanum: '',
                    areaname: ''
                },
                options: {
                    province: [],
                    city: [],
                    county: [],
                    village: [],
                    type119: TYPE119
                },
                pageId: pageId,
                pageName: _2_nav_selected.name,
                pageClsName: _2_nav_selected.clsName
            },
            watch: {
                'form.province': function (v) {
                    this.initDistrict('city');
                },
                'form.city': function () {
                    this.initDistrict('county');
                },
                'form.county': function () {
                    this.initDistrict('village');
                }
            },
            computed: {
                organId: function(){
                    return this.form.village || this.form.county || this.form.city || this.form.province;
                }
            },
            created: function () {
                var self = this;
                $.get(Home_Ctrl + 'GetAllParentOrganByOrganId', {
                    organId: Prov_Code.OrganID
                }).done(function(d){
                    d.forEach(function(item, idx){
                        var key = self.cascade[idx];
                        self.defVal.push(item.ORGAN_ID);
                        self.disableds[key] = true;
                    })
                    self.initDistrict('province');
                })
            },
            mounted: function () {
                $('#' + this.btimeId).ligerDateEditor({
                    initValue: String(new Date().setMonth(new Date().getMonth() - 6)).Date()
                });
                $('#' + this.etimeId).ligerDateEditor({
                    initValue: String(+new Date()).Date()
                });
            },
            methods: {
                initDistrict: function(key) {
                    var self = this;
                    var level = this.cascade.indexOf(key);
                    var val = !level ? '2' : self.form[this.cascade[level - 1]];
                    var url = level > 0 ? 'GetHomeSubOrganList' : 'GetHomeRootOrgan';
                    if(key && level != -1) {
                        this.cascade.forEach(function(item, idx) {
                            if(idx < level) return;
                            self.form[item] = '';
                            self.options[item] = [];
                        }, this);
                    }
                    if(level && !val) return;
                    //加载缓存的数据
                    var _cache_data = localStorage.getItem('_cache_code_' + key + '_' + val);
                    if(_cache_data) {
                        return this.fillSelect(JSON.parse(_cache_data), key, level);
                    }
                    //缓存不存在，从数据库读取
                    $.get(Home_Ctrl + url, {
                        organId: val,
                        disconnectTimer: TIMEOUT
                    }).done(function (d) {
                        self.fillSelect(d, key, level);
                        localStorage.setItem('_cache_code_' + key + '_' + val, JSON.stringify(d));
                    });
                },
                fillSelect: function(d, key, level){
                    this.options[key] = [{ "OrganID": "", "OrganName": "--请选择--" }].concat(d);
                    this.form[key] = this.defVal[level];
                },
                type119: function(i){
                    return TYPE119[i] || '其它'
                },
                filterQuery: function () {
                    var self = this;
                    this.loading = 1;
                    this.form.btime = $('#' + this.btimeId).val();
                    this.form.etime = $('#' + this.etimeId).val();
                    sessionStorage.setItem('_panel_query_form_', JSON.stringify(this.form));
                    
                    GIS$.enableRaiseXhqClickEvent(false);
                    switch(pageId) {
                        case "road" :
                            this.filterRoad(); break;
                        case "area" :
                            this.filterArea(); break;
                        case "c119" :
                            this.filter119(); break;
                        case "hot" :
                            this.filterHot(); break;
                        case "attend" :
                            this.filterAttend(); break;
                    }
                },
                //查询轨迹
                filterRoad: function() {
                    var self = this;
                    $.get(QueryGPSInfo_Ctrl + 'GetUserContrailListByCondition', {
                        organId: self.organId,
                        userNameOrPhone: self.form.user,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.loading = 2;
                        self.results = d || [];
                    });
                },
                //查询巡护区
                filterArea: function() {
                    var self = this;
                    $.get(QueryPatrolarea_Ctrl + 'GetPatrolAreaByCondition', {
                        organId: self.organId,
                        userNameOrPhone: self.form.user,
                        code: self.form.areanum,
                        name: self.form.areaname
                    }).done(function (d) {
                        self.loading = 2;
                        self.results = d || [];
                    });
                    //地图上显示巡护区
                    GIS$.getDistLineAndToShow(this.organId);
                    //加载底图
                    GIS$.enableRaiseXhqClickEvent(true);
                },
                //查询报警
                filter119: function() {
                    var self = this;
                    $.get(QueryAlrma_Ctrl + 'GetAlarmsByCondition', {
                        organId: self.organId,
                        userNameOrPhone: self.form.user,
                        alarmType: self.form.type119,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.loading = 2;
                        self.results = d || [];
                    });
                },
                //查询热点
                filterHot: function() {
                    var self = this;
                    $.get(QueryHotSpot_Ctrl + 'GetHotspotList', {
                        organId: self.organId,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.loading = 2;
                        self.results = d || [];
                    });
                },
                //查询考勤(Time, User)
                filterAttend: function(type) {
                    var self = this;
                    var types = ['Time', 'User'];
                    this.loading = 1;
                    self.results = [];
                    self.tabIdx = type || 0;
                    $.get(QueryAttendance_Ctrl + 'GetAttendanceListTo' + types[self.tabIdx], {
                        organId: self.organId,
                        userNameOfPhone: self.form.user,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        self.loading = 2;
                        self.results = (d || []).map(function(item){
                            return (item.records = [], item);
                        });
                    });
                },
                selectItem: function (idx) {
                    this.resultsIdx = idx;
                    var data = this.results[idx];
                    switch(this.pageId) {
                        case 'road':
                            GIS$.getLineInfoAndShow({ lineId: data.LineId });break;
                        case 'area':
                            GIS$.getAreaInfoAndShow({ areaId: data.ID });break;
                        case 'c119':
                            GIS$.getC119InfoAndShow({ c119Id: data.ID });break;
                        case 'hot':
                            GIS$.getHotInfoAndShow({ hotId: data.HOTSPOT_ID });break;
                        case 'attend':
                            this.tabIdx ? this.selectAttendUser(data, idx) : this.selectAttendTime(data, idx); break;
                    }
                },
                selectLineTime: function (index, ridx, idx) {
                    var data = this.results[index];
                    var record = data.records[ridx];
                    var line = record.LinesInfos[idx];
                    GIS$.getLineInfoAndShow({ lineId: line.LineId });
                },
                selectAttendTime: function (data, idx) {
                    var self = this;
                    !data.records.length && $.get(QueryAttendance_Ctrl + 'GetUserAttendanceList', {
                        userNameOfPhone: self.form.user,
                        time: data.AttendanceTimeOrName
                    }).done(function (d) {
                        data.records = d || [];
                        self.$nextTick(function () {
                            document.getElementById(self.pageId + '_' + idx).scrollIntoView();
                        })
                    });
                },
                selectAttendUser: function (data, idx) {
                    var self = this;
                    !data.records.length && $.get(QueryAttendance_Ctrl + 'GetTimeAttendanceList', {
                        userId: data.UserId,
                        sTime: self.form.btime,
                        eTime: self.form.etime
                    }).done(function (d) {
                        data.records = d || [];
                        self.$nextTick(function () {
                            document.getElementById(self.pageId + '_' + idx).scrollIntoView();
                        })
                    });
                },
                backList: function () {
                    this.loading = 0;
                    this.results = [];
                }
            }
        });
    })();
</script>